.sberbankBanner {
}

.color {
  padding: var(--space-xb) 0;

  color: var(--color-white);

  background: #21a038;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 50%;
  max-width: 327px;
}

.logo {
  width: 212px;
  height: 34px;

  background-size: contain;
}

.text {
  margin-top: var(--space-xxl);

  font-size: var(--size-n);
  line-height: var(--lh-n);
}

.nuance {
  margin-top: var(--space-n);

  color: rgba(255, 255, 255, 0.5);
  font-size: var(--size-xs);
  line-height: var(--lh-s);
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.item {
  margin-right: var(--space-m);

  &:last-child {
    margin-right: 0;
  }
}

.digit {
  display: inline-block;

  font-size: 130px;
  line-height: 159px;
}

.symbol {
  display: inline-block;

  font-weight: 600;
  font-size: 52px;
  line-height: 90px;
}

.symbol.rur {
  &:before {
    content: '\20BD';
  }
}

@media (--desktop) {
  .color {
    padding: var(--space-xxl) 0;
  }

  .left {
    width: 40%;
  }

  .right {
    width: 60%;
  }

  .digit {
    font-size: 80px;
    line-height: 130px;
  }

  .symbol {
    font-weight: 400;
    font-size: 37px;
    line-height: 73px;
  }
}

@media (--mobile-m) {
  .left {
    max-width: 303px;
  }
}

@media (--mobile) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    max-width: unset;
  }

  .text {
    margin-top: var(--space-l);
  }

  .nuance {
    margin-top: var(--space-s);
  }

  .right {
    justify-content: flex-start;
    width: 100%;
    margin-top: var(--space-l);
  }

  .digit {
    font-size: 61px;
    line-height: 63px;
  }

  .symbol {
    font-size: 30px;
    line-height: 29px;
  }
}
