.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 35%;

  &:not(:last-child) {
    margin-right: var(--space-l);
  }
}

.wrapperMedium {
  margin-bottom: var(--space-m);
}

.wrapperBig {
  margin-bottom: 45px;
}

.footerSubscription {
  width: 240px;
  max-width: 240px;
}

.footerText {
  composes: s from 'sizes';

  margin: 0;

  color: var(--color-dark-gray);
}

.madeIn {
  composes: s from 'sizes';

  margin: 0;

  color: var(--color-black);
}

.marginTop95 {
  margin-top: 95px;
}

.marginTopAuto {
  margin-top: auto;
}
