.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);

  width: 100%;

  overflow: auto;

  font-size: var(--size-s);

  background: rgba(0, 0, 0, 0.7);

  animation-name: ModalFadeIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal.closes {
  animation-name: ModalFadeOut;
}

.modal.viewSlideRight {
  overflow: hidden;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .wrapperContent {
    min-height: 100%;

    animation-name: ModalSlideRightIn;
    animation-duration: 0.4s;
  }

  .content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    min-height: 100%;
    overflow: auto;

    background: var(--color-white);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.wrapperContent {
  position: relative;

  width: 100%;

  text-align: center;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.content {
  overflow: hidden;
}

.close {
  position: absolute;
  top: var(--space-s);
  right: var(--space-s);
  z-index: 2;

  cursor: pointer;
}

.closeIcon {
  color: var(--color-base);
}

@keyframes ModalFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ModalFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ModalSlideRightIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes ModalSlideRightOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
