.fabricFilters {
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
}

.reset {
  display: flex;
  align-items: center;
  padding: var(--space-l) var(--space-s);

  &:hover {
    cursor: pointer;

    .iconReset {
      transform: rotate(360deg);
    }
  }
}

.iconReset {
  margin-right: var(--space-xs);

  transition: transform var(--animation-duration);
}

@media (--mobile) {
  .FabricFilters {
    padding: var(--space-s);

    background: var(--color-default);

    &-Button {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 200px;
      margin-right: var(--space-xl);

      background: var(--color-bg-light);
    }

    &-Reset {
      padding: 0;
    }
  }
}
