.box {
  padding: 15px 20px;

  background: var(--color-white);
}

.box.product {
  padding: 0;
}

.box.check {
  padding: 40px;
  padding-bottom: 60px;
}

@media (--desktop) {
  .box {
    box-shadow: none;
  }

  .box.check {
    padding-right: 15px;
    padding-left: 15px;

    box-shadow: none;

    .container {
      max-width: 448px;
      margin: 0 auto;
    }
  }
}
