.box {
  padding: var(--space-s) var(--space-n);

  background: var(--color-white);
}

.box.product {
  padding: 0;
}

.box.check {
  padding: var(--space-xxl);
  padding-bottom: var(--space-xb);
}

@media (--desktop) {
  .box.check {
    padding: var(--space-l) var(--space-n) var(--space-xxl);
  }
}

@media (--mobile-m) {
  .box.check {
    padding-right: var(--space-s);
    padding-left: var(--space-s);
  }
}
