.box {
  padding: 15px 20px;

  background: var(--color-white);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.box.product {
  padding: 0;
}

.box.check {
  padding: 35px 40px 40px 20px;
}

@media (--desktop) {
  .box {
    box-shadow: none;
  }

  .box.check {
    padding-right: 15px;
    padding-left: 15px;

    box-shadow: none;

    .container {
      max-width: 448px;
      margin: 0 auto;
    }
  }
}
