.tag {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  background: var(--color-white);
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

@media (--desktop) {
  .tag {
    width: 40px;
    height: 40px;
  }
}
