.wrapper {
  width: 100%;
  margin-bottom: var(--space-xxe);
}

.galleryWrapper {
  composes: main from 'containers';
}

.item {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 100%;

  vertical-align: top;
}

.section {
  overflow: hidden;
}

@media (--desktop-m) {
  .wrapper {
    margin: 0 auto var(--space-e) auto;
  }
}

@media (--desktop) {
  .wrapper {
    margin: 0 auto var(--space-xb) auto;
  }
}
