.link {
  text-decoration: none;

  &.primary {
    color: var(--color-black);

    background-image: linear-gradient(var(--color-black), var(--color-black));
    background-repeat: no-repeat;
    background-position: left 0 bottom calc(16% - 4px);
    background-size: 100% 1px;
  }

  &.secondary {
    color: var(--color-dark-gray);

    background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
    background-repeat: no-repeat;
    background-position: left 0 bottom calc(16% - 4px);
    background-size: 100% 1px;
  }

  &.native {
    color: var(--color-blue);

    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-black);
    }
  }

  &.asButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 50px;
    padding: 0 var(--space-n);

    color: var(--color-white);
    font-size: var(--size-n);

    font-family: var(--font-main);
    line-height: var(--lh-n);

    background: var(--color-grafit);
    border: 1px solid var(--color-grafit);

    outline: none;
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      background: var(--color-black);
      border-color: var(--color-black);
    }

    &:active {
      color: var(--color-black);

      background: var(--color-white);
      border-color: var(--color-black);
    }
  }
}

@media (--desktop-m) {
  .link {
    &.asButton {
      height: 42px;
    }
  }
}

@media (--mobile-m) {
  .link {
    &.asButton {
      height: 35px;

      font-size: var(--size-s);
      line-height: var(--lh-s);
    }
  }
}
