.link {
  composes: n from 'sizes';

  display: inline-block;

  text-decoration: none;

  cursor: pointer;
}

.link.primary {
  color: var(--color-black);

  background-image: linear-gradient(var(--color-black), var(--color-black));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
}

.link.secondary {
  color: var(--color-dark-gray);

  background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
}

.link.native {
  color: var(--color-blue);
}
