.link {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;

  cursor: pointer;
}

.sizeN {
  composes: n from 'sizes';
}

.sizeS {
  composes: s from 'sizes';
}

.link.primary {
  color: var(--color-black);

  background-image: linear-gradient(var(--color-black), var(--color-black));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
}

.link.secondary {
  color: var(--color-dark-gray);

  background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
}

.link.native {
  color: var(--color-blue);

  transition: color 0.2s ease-in-out;
}

.link.native:hover {
  color: var(--color-black);
}

.navigation {
  position: relative;

  margin: 0;
  padding-bottom: 5px;

  color: var(--color-dark-gray);
  font-size: var(--size-s);
  line-height: 21px;
  text-decoration: none;

  transition: color 150ms ease-in;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 0;
    height: 1px;

    background: var(--color-grafit);

    transition: width 150ms ease-in;

    content: '';
  }

  &:hover,
  &:active {
    color: var(--color-grafit);

    transition: color 150ms ease-in;

    &:before {
      width: 100%;

      transition: width 150ms ease-in;
    }
  }

  &:focus {
    transition: color 150ms ease-in;

    &:before {
      width: 100%;

      transition: width 150ms ease-in;
    }
  }
}

.link.navList {
  display: inline-block;

  color: var(--color-black);
  font-size: var(--size-s);
  line-height: 21px;
  text-decoration: none;

  transition: color 0.4s ease-in-out;

  a&:hover {
    color: var(--color-grafit);
    font-weight: 500;

    transition: color 0.4s ease-in-out;
  }

  a&:focus {
    font-weight: 500;

    transition: color 0.4s ease-in-out;
  }

  a&:active {
    font-weight: 500;

    transition: color 0.4s ease-in-out;
  }
}

.link.grayString {
  position: relative;

  color: var(--color-dark-gray);
  font-size: var(--size-n);
  line-height: 150%;

  transition: color 150ms ease-in;

  &:before {
    position: absolute;
    bottom: -1px;

    display: block;

    width: 100%;
    height: 1px;

    background: var(--color-dark-gray);

    transition: background 150ms ease-in, width 150ms ease-in;

    content: '';
  }

  &:hover {
    color: var(--color-black);

    transition: color 150ms ease-in;

    &:before {
      width: 0;

      transition: width 150ms ease-in;
    }
  }

  &:focus {
    &:before {
      width: 0;

      transition: width 150ms ease-in;
    }
  }

  &:active {
    color: var(--color-black);

    transition: color 150ms ease-in;

    &:before {
      width: 100%;

      background: var(--color-black);

      transition: background 150ms ease-in, width 150ms ease-in;
    }
  }
}
