.main {
  display: flex;
  align-items: center;
}

.preview {
  flex-shrink: 0;
  width: 210px;
}

.content {
  flex-grow: 1;
  margin-left: var(--space-l);
}

.name {
  font-weight: 500;
}

.wrapperFooter {
  margin-top: var(--space-l);
}

@media (--desktop) {
  .preview {
    width: 160px;
  }

  .content {
    margin-left: var(--space-n);
  }
}
