.productPhotosModal {
  width: unset;
  padding: 100px 70px 80px 70px;

  background-color: #fff;
}

.closePanel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  width: 120px;
  height: 100%;

  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background: var(--color-light-gray);
    opacity: 0.7;
  }
}

.iconClose {
  width: 30px;
  height: 30px;
  margin: var(--space-xxl);
}

.container {
  display: flex;
  max-width: 1810px;

  border: 1px solid rebeccapurple;
}

.leftScroll {
  width: 180px;
  padding-top: 50.62%;
  padding-right: 214px;
}

.imageWrapper {
  margin: var(--space-xs) 0;
}

.image {
  width: 180px;
  padding-top: 67.5%;

  background-position: center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.4;
}

.image.active {
  opacity: 1;
}

.mainWrapper {
  position: relative;

  width: 100%;
  padding: 0 var(--space-l);
}

.mainImageWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1358px;
  height: 100%;
  margin: 0 auto;
}

.mainImage {
  width: 100%;
  padding-top: 66.27%;

  background-position: center;
  background-size: contain;
}

.arrow {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
}

.arrow.prev {
  left: 0;

  cursor: url(./prev.svg), pointer;
}

.arrow.next {
  right: 0;

  transform: rotate(180deg);
  cursor: url(./next.svg), pointer;
}

@media (--desktop) {
  .productPhotosModal {
    padding: 100px 40px 60px 40px;
  }

  .container {
    flex-direction: column;
  }

  .leftScroll,
  .arrow {
    display: none;
  }

  .mainWrapper {
    margin: 0;
    margin-top: 45px;
  }

  .mainImage {
    padding-top: 100%;
  }

  .wrapperGallery {
    max-width: 785px;
    margin: 0 auto;
    margin-top: var(--space-e);
    overflow: hidden;
  }

  .progressBar {
    margin-top: var(--space-l);
  }

  .imageWrapper {
    padding: 0 var(--space-xxs);
  }

  .image {
    width: 105px;
    padding-top: 75.24%;
  }
}

@media (--mobile-m) {
  .mainWrapper {
    display: none;
  }

  .wrapperGallery {
    display: none;
  }

  .leftScroll {
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  .imageWrapper {
    margin: 0;
    margin-right: var(--space-s-neg);
    margin-bottom: var(--space-n);
    padding: 0;
  }

  .image {
    width: 100%;

    background-position: center;
    background-size: contain;
  }

  .image.landscape {
    padding-top: 66.24%;
  }

  .image.portrait {
    padding-top: 100%;
  }
}

@media (--mobile) {
  .closePanel {
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }

  .iconClose {
    margin: var(--space-s);
  }

  .image {
    cursor: default;
    opacity: 1;
  }
}
