.wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: var(--space-xxe) var(--space-xxl) var(--space-e) var(--space-xxb);

  background-color: var(--color-white);
}

.closePanel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  width: 120px;
  height: 100%;

  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background: var(--color-light-gray);
    opacity: 0.7;
  }
}

.iconClose {
  width: 30px;
  height: 30px;
  margin: var(--space-xxl);
}

.container {
  display: flex;
  height: 100%;
}

.leftScroll {
  flex-shrink: 0;
  width: 214px;
}

.imageWrapper {
  margin-bottom: var(--space-n);

  &:last-child {
    margin-bottom: 0;
  }
}

.image {
  width: 180px;

  cursor: pointer;
  opacity: 0.4;
}

.image.active {
  opacity: 1;
}

.mainWrapper {
  position: relative;

  width: 100%;
  padding: 0 var(--space-l);
}

.mainImageWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1358px;
  height: 100%;
  margin: 0 auto;
}

.mainImage {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
}

.arrow.prev {
  left: 0;

  cursor: url(./prev.svg), pointer;
}

.arrow.next {
  right: 0;

  transform: rotate(180deg);
  cursor: url(./next.svg), pointer;
}

@media (--desktop) {
  .productPhotosModal {
    padding: 100px 40px 60px 40px;
  }

  .container {
    flex-direction: column;
  }

  .leftScroll,
  .arrow {
    display: none;
  }

  .mainWrapper {
    margin: 0;
    margin-top: 45px;
  }

  .mainImage {
    padding-top: 100%;
  }

  .wrapperGallery {
    max-width: 785px;
    margin: 0 auto;
    margin-top: var(--space-e);
    overflow: hidden;
  }

  .progressBar {
    margin-top: var(--space-l);
  }

  .imageWrapper {
    padding: 0 var(--space-xxs);
  }

  .image {
    width: 105px;
  }
}

@media (--mobile-m) {
  .mainWrapper {
    display: none;
  }

  .wrapperGallery {
    display: none;
  }

  .leftScroll {
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  .imageWrapper {
    margin: 0;
    margin-right: var(--space-s-neg);
    margin-bottom: var(--space-n);
    padding: 0;
  }

  .image {
    width: 100%;

    cursor: default;
    opacity: 1;
  }
}

@media (--mobile) {
  .closePanel {
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }

  .iconClose {
    margin: var(--space-s);
  }
}
