.section {
  --columns: 4;
  --gap-h: var(--space-l);
  --gap-v: var(--space-xxb);
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-b);
}

.titleWrapper {
  display: flex;
  align-items: baseline;
}

.title {
  composes: xxl from 'sizes';

  margin: 0;

  font-weight: 500;
}

.priceMin {
  composes: m from 'sizes';

  margin-left: var(--space-xs);
}

.arrows {
  display: none;
}

.items {
  display: block;
  margin-right: calc(var(--gap-h) / -2);
  margin-bottom: calc(var(--gap-v) * -1);
  margin-left: calc(var(--gap-h) / -2);
}

.item {
  display: inline-block;
  width: calc((100% / var(--columns)) - var(--gap-h));
  padding: 0 calc(var(--gap-h) / 2) var(--gap-v);
}

.stub {
  vertical-align: top;
}

@media (--desktop-m) {
  .title {
    font-size: var(--size-xxl);
  }
}

@media (--desktop) {
  .section {
    --columns: 3;
  }

  .title {
    font-size: var(--size-xl);
  }
}

@media (--mobile-m) {
  .title {
    font-size: var(--size-l);
  }

  .arrows {
    display: block;
    margin-left: var(--space-xxs);
  }

  .items {
    display: block;
    margin: 0 var(--space-s-neg) var(--space-xb);
    padding: 0 var(--space-xxs);
    overflow: hidden;
  }

  .item {
    min-width: 300px;
    padding: 0 var(--space-xs);
  }
}

@media (--mobile) {
  .title {
    font-size: var(--size-l);
  }

  .titleWrapper {
    display: block;
  }

  .priceMin {
    margin-top: var(--space-xs);
    margin-left: 0;
  }
}
