.filterWrapper {
  composes: main from 'containers';

  margin-bottom: var(--space-xxl);
}

.filters {
  padding-top: var(--space-m);

  border-top: 1px solid var(--color-medium-gray);
}

.catalogWrapper {
  margin-bottom: var(--space-xxe);
}

.catalog {
  display: block;
}

@media (--desktop-m) {
  .catalogWrapper {
    margin-bottom: var(--space-e);
  }
}

@media (--desktop) {
  .catalogWrapper {
    margin-bottom: var(--space-xb);
  }
}

@media (--mobile-m) {
  .catalogWrapper {
    padding: 0 var(--space-s);
  }
}

@media (--mobile) {
  .catalog > div > div {
    /* в исходном компоненте каталога раскладка не соответствует макету страницы трендов, поэтому правки через каскад */
    width: calc((100% - var(--space-xs) * 4) / 2);
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
  }
}

@media (max-width: 480px) {
  .catalog > div > div {
    /* в исходном компоненте каталога раскладка не соответствует макету страницы трендов, поэтому правки через каскад */
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
