.page {
}

.pageTitle {
  margin-top: var(--space-xl);
}

.hotLineWrapper {
  display: flex;
  align-items: center;
  margin-top: var(--space-e);

  font-weight: 500;
  font-size: var(--size-l);
  line-height: var(--lh-xm);
}

.callIcon {
  width: 44px;
  height: 42px;

  background-image: url('./image/hotCall.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hotContainer {
  display: flex;
  margin-left: var(--space-n);
}

.hotNumber {
  margin-left: var(--space-n);
}

.hotInfo {
  margin-top: var(--space-n);

  font-size: var(--size-n);
  line-height: var(--lh-n);
}

.requisites {
  margin-top: var(--space-xxl);
}

.buttonsContactForms {
  margin-top: var(--space-xxe);
}

.divider {
  margin-top: var(--space-xxl);
}

.seeUs {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-e);
}

@media (--desktop-m) {
  .buttonsContactForms {
    margin-top: var(--space-e);
  }

  .divider {
    margin-top: var(--space-n);
  }
}

@media (--desktop) {
  .hotLineWrapper {
    margin-top: var(--space-xb);
  }

  .buttonsContactForms {
    margin-top: var(--space-xb);
  }

  .divider {
    margin-top: 0;
  }

  .seeUs {
    margin-bottom: var(--space-xb);
  }
}

@media (--mobile-m) {
  .divider {
    margin-top: var(--space-n);
  }
}

@media (--mobile) {
  .hotContainer {
    flex-direction: column;
  }

  .hotNumber {
    margin-left: 0;
  }
}
