.field {
  position: relative;

  margin-bottom: var(--space-l);
}

.actions {
  display: inline-flex;
  align-items: center;
}

.cancel {
  margin-left: var(--space-xxl);
}

.ratings {
  display: flex;
  margin-top: var(--space-l);
}

.ratingItem {
  width: 50%;
}

.main {
  display: flex;
  width: 100%;
}

.inputs {
  flex: 1 1 100%;
}

.text {
  min-height: 140px;
}

.files {
  min-width: 160px;
  margin-left: var(--space-l);
}

.actions {
  margin-top: var(--space-l);
}

@media (--mobile) {
  .main {
    flex-direction: column;
  }

  .inputs {
    flex: 0 0 100%;
    margin: 0 0 var(--space-xl);
  }

  .files {
    flex: 0 0 100%;
    margin: 0;
  }

  .ratingItem {
    width: 100%;

    &:not(&:last-child) {
      margin-bottom: var(--space-xs);
    }
  }
}
