.col {
  box-sizing: border-box;
  width: 100%;
}

.footerText {
  composes: s from 'sizes';

  margin: 0;

  color: var(--color-dark-gray);
}

.footerSubscription {
  width: 100%;
}

.madeIn {
  composes: s from 'sizes';

  margin: 0;

  color: var(--color-black);
}

.wrapperSmall {
  margin-bottom: var(--space-xxs);
}

.wrapperRegular {
  margin-bottom: var(--space-s);
}

.wrapperMedium {
  margin-bottom: var(--space-m);
}

.wrapperBig {
  margin-bottom: 45px;
}
