.characteristics {
  padding: var(--space-xb);

  background: var(--color-light-gray);
}

.title {
  composes: xxl from 'sizes';

  margin: 0;

  font-weight: 500;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 var(--space-xb);
}

.schemes {
}

.scheme {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  width: 100%;
}

.scheme.active {
  display: grid;
}

.row {
  margin-top: var(--space-xb);
}

.row.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.dimension {
  margin-bottom: var(--space-s);
  padding-bottom: var(--space-s);

  border-bottom: 1px solid var(--color-medium-gray);
}

.dimension:last-child {
  border: none;
}

.document {
  display: inline-block;
  margin-top: var(--space-xs);
  margin-right: var(--space-xxl);

  vertical-align: middle;
}

.col {
}

.parameter {
  margin-top: var(--space-s);

  &:first-child {
    margin-top: 0;
  }
}
