.scroller {
  box-sizing: border-box;
  width: 100%;
}
.scroller.invisible {
  .thumbY {
    background: transparent;
  }
}

.wrapper {
  position: absolute;
  inset: 0px;

  overflow: hidden;
}

.scrollerContainer {
  position: absolute;

  overflow: hidden scroll;
  inset: 0px;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0;
}

.trackY {
  position: absolute;
  top: 0;
  right: 0px;

  width: 5px;
  height: 100%;
  padding-right: 0px;
  overflow: hidden;

  background: transparent;
  border-radius: 20px;

  user-select: none;
}

.thumbY {
  width: 100%;

  background: var(--color-dark-gray);
  border-radius: 20px;
  cursor: pointer;
}
