.card {
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-xs);
}

.name {
  max-height: calc(var(--lh-n) * 2);
  overflow: hidden;

  white-space: normal;
}

.price {
  display: flex;
  align-items: baseline;
}

.actualPrice {
  composes: m from 'sizes';

  font-weight: 500;
}

.name {
  font-size: var(--size-s);
  line-height: var(--lh-s);
}

.expiredPrice {
  margin-left: var(--space-xs);
}

.discount {
  margin-left: var(--space-xs);
}

@media (--mobile-m) {
  .actualPrice {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }

  .expiredPrice {
    font-size: var(--size-s);
    line-height: var(--lh-s);
  }
}

@media (--desktop) {
  .discount {
    display: none;
  }
}

@media (--mobile) {
  .actualPrice {
    font-size: var(--size-m);
    line-height: var(--lh-n);
  }

  .expiredPrice {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }
}
