.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto var(--space-xxe) auto;
  padding-bottom: var(--space-xxl);

  background: var(--color-white);
}

.textWrapper {
  margin-bottom: var(--space-xb);
}

.title {
  margin-top: 0;
  margin-bottom: var(--space-l);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
}

.description {
  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-m);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

.videoContent {
  min-height: 832px;
}

.video {
}

.saveHeight {
  width: 100%;
  height: 600px;

  border: 1px solid black;
}

.preview {
  padding-top: 55.94%;
}

@media (--desktop-m) {
  .wrapper {
    max-width: calc(100% - 300px);
    margin: 0 150px var(--space-e) 150px;
  }

  .videoContent {
    min-height: calc(0.5625 * (100vw - 2 * 150px));
  }
}

@media (--desktop) {
  .wrapper {
    max-width: 100%;
    margin: 0 auto var(--space-xb) auto;
    padding: 0 var(--space-xxl);
  }

  .textWrapper {
    margin-bottom: var(--space-xxl);
  }

  .title {
    font-size: var(--size-xl);
    line-height: 150%;
  }

  .description {
    font-size: var(--size-m);
    line-height: 150%;
  }

  .videoContent {
    min-height: calc(0.5625 * (100vw - 2 * var(--space-xxl)));
  }
}

@media (--mobile-m) {
  .wrapper {
    padding: 0 var(--space-s) var(--space-n) var(--space-s);
  }

  .title {
    font-size: var(--size-l);
    line-height: 150%;
  }

  .description {
    font-size: var(--size-s);
    line-height: 150%;
  }

  .videoContent {
    min-height: calc(0.5625 * (100vw - 2 * var(--space-s)));
  }
}

@media (--mobile) {
  .videoContent {
    min-height: calc(0.5625 * (100vw - 2 * var(--space-s)));
  }
}
