.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto var(--space-xxe) auto;
  padding-bottom: var(--space-xxl);
}

.textWrapper {
  margin-bottom: var(--space-xb);
}

.title {
  margin-top: 0;
  margin-bottom: var(--space-l);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
}

.description {
  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-m);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

.videoContent {
  position: relative;

  height: 0;
  padding-top: 56.25%;
}

.previewBlock,
.videoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preview {
  padding-top: 56.25%;
}

@media (--desktop-m) {
  .wrapper {
    margin-bottom: var(--space-e);
  }
}

@media (--desktop) {
  .wrapper {
    margin-bottom: var(--space-xxe);
    padding: 0;
  }

  .textWrapper {
    margin-bottom: var(--space-xxl);
  }

  .title {
    font-size: var(--size-xl);
    line-height: 150%;
  }

  .description {
    font-size: var(--size-m);
    line-height: 150%;
  }
}

@media (--mobile-m) {
  .wrapper {
    margin-bottom: var(--space-e);
  }

  .title {
    font-size: var(--size-l);
    line-height: 150%;
  }

  .description {
    font-size: var(--size-s);
    line-height: 150%;
  }
}
