.radio {
}

.radioInput {
  display: none;

  &:checked + .customRadio {
    &:before {
      opacity: 1;
    }
  }
}

.customRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  border: 1px solid var(--color-medium-gray);
  border-radius: 50%;
  cursor: pointer;

  &:before {
    display: block;
    width: 10px;
    height: 10px;

    background: var(--color-grafit);
    border-radius: 50%;
    opacity: 0;

    transition: opacity 0.2s;

    content: '';
  }
}
