.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: var(--space-xxe);
}

.wrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.wrapper:last-child {
  margin-bottom: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc((100% - 240px) / 2);
}

.wrapper:nth-child(odd) .textWrapper {
  margin-right: 240px;
  padding-left: 220px;
}

.wrapper:nth-child(even) .textWrapper {
  margin-left: 240px;
  padding-right: 220px;
}

.imgWrapper {
  width: calc((100% - 240px) / 2);
}

.img {
  width: 100%;
  height: 0;
  padding-top: 50.65%;

  background-position: center;
  background-size: cover;
}

.title {
  margin-bottom: var(--space-l);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
}

.description {
  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-n);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

@media (--desktop-m) {
  .wrapper {
    margin-bottom: var(--space-e);
  }

  .wrapper {
    margin-bottom: var(--space-xb);
  }

  .wrapper:nth-child(odd) .textWrapper {
    margin-right: 120px;
    padding-left: 150px;
  }

  .wrapper:nth-child(even) .textWrapper {
    margin-left: 120px;
    padding-right: 150px;
  }

  .imgWrapper {
    width: calc((100% - 120px) * 0.54);
  }

  .textWrapper {
    width: calc((100% - 120px) * 0.46);
  }

  .title {
    margin-bottom: var(--space-n);
  }
}

@media (--desktop) {
  .wrapper {
    margin-bottom: var(--space-xb);
  }

  .wrapper:nth-child(odd) .textWrapper {
    margin-right: var(--space-xxe);
    padding-left: var(--space-xxl);
  }

  .wrapper:nth-child(even) .textWrapper {
    margin-left: var(--space-xxe);
    padding-right: var(--space-xxl);
  }

  .imgWrapper {
    width: calc((100% - var(--space-xxe)) * 0.4981);
  }

  .textWrapper {
    width: calc((100% - var(--space-xxe)) * 0.5019);
  }

  .title {
    font-size: var(--size-xl);
    line-height: 150%;
  }
}

@media (--mobile-m) {
  .wrapper:nth-child(odd) .textWrapper {
    margin-right: var(--space-xb);
    padding-left: var(--space-s);
  }

  .wrapper:nth-child(even) .textWrapper {
    margin-left: var(--space-xb);
    padding-right: var(--space-s);
  }

  .imgWrapper {
    width: calc((100% - var(--space-xb)) * 0.5085);
  }

  .textWrapper {
    width: calc((100% - var(--space-xb)) * 0.4915);
  }

  .title {
    font-size: var(--size-l);
    line-height: 120%;
  }
}

@media (--mobile) {
  .wrapper:nth-child(n) {
    flex-direction: column-reverse;
  }

  .wrapper:nth-child(odd) {
    .imgWrapper {
      margin-left: var(--space-s);
    }
  }

  .wrapper:nth-child(even) {
    .imgWrapper {
      margin-right: var(--space-s);
    }
  }

  .wrapper:nth-child(n) {
    .textWrapper {
      width: 100%;
      margin: 0;
      padding: 0 var(--space-s);
    }
  }

  .imgWrapper {
    width: calc((100% - var(--space-s)));
    margin-bottom: var(--space-xxl);
  }
}
