.callBack {
}

.title {
  font-size: 22px;
  line-height: 26px;
}

.text {
  margin-top: 20px;

  font-size: 16px;
  line-height: 24px;
}

.button {
  width: 100%;
  max-width: 420px;
  margin-top: 30px;
}

.nuance {
  margin-top: 30px;

  color: var(--color-dark-gray);
  font-size: 14px;
  line-height: 21px;
}
