.form {
  max-width: 330px;

  &.wide {
    max-width: 100%;
  }
}

.phoneBottom {
  display: flex;
  justify-content: flex-end;
}

.linkChangePhone {
  font-size: var(--size-s);
  line-height: var(--lh-s);
}

.buttons {
  display: none;

  &.visible {
    display: block;
  }
}

.link {
  display: inline-block;
}
