.bonuses {
  --width-popup: 264px;

  composes: s from 'sizes';

  display: flex;
  align-items: center;
}

.bonuses.double {
  .iconPoints {
    width: 31px;
    height: 21px;

    background-image: url('./extraPoints.svg');
  }
}

.iconPoints {
  width: 20px;
  height: 20px;
  margin-right: var(--space-xxs);

  background-image: url('./points.svg');
  background-size: contain;
}

.wrapperCount {
  position: relative;
}

.count {
  display: inline-block;

  cursor: pointer;
}

.popup {
  composes: xs from 'sizes';

  width: var(--width-popup);

  transform: translateX(0);
}

.link {
  display: inline-block;
  margin-top: var(--space-xs);
}

@media (--mobile) {
  .bonuses {
    --width-popup: 240px;
  }
}
