.videoContent {
  min-height: 292px;
}

.poster {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.posterImage {
  width: 100%;
  padding-top: 55.94%;

  background-size: cover;
}

.posterIcon {
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url('./play.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.infoWrapper {
  padding: 0 var(--space-xxl);
}

.text {
  margin-top: var(--space-xxl);

  font-size: var(--size-n);
  line-height: var(--lh-n);
}

.nuance {
  margin-top: var(--space-s);

  color: var(--color-dark-gray);
  font-size: var(--size-xs);
  line-height: var(--lh-xs);
}

.linkWrapper {
  display: flex;
  justify-content: center;
}

.link {
  margin-top: var(--space-xxl);

  font-size: var(--size-s);
  line-height: 21px;
}

.scrollStyle {
  width: calc(100% + var(--space-xxl) + 55px);
  margin-right: -55px;
  margin-left: var(--space-xxl-neg);
}

@media (--mobile) {
  .videoContent {
    min-height: 202px;
  }

  .infoWrapper {
    padding: 0 var(--space-s);
  }

  .scrollStyle {
    width: calc(100% + var(--space-s) * 2);
    margin-right: var(--space-s-neg);
    margin-left: var(--space-s-neg);
  }
}
