.iconClose {
  width: 20px;
  height: 20px;

  background-image: url('./close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  transition: transform 0.4s;

  &:hover {
    transform: rotate(1turn);
    cursor: pointer;
  }
}
