.iconClose {
  background-image: url('./close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  transition: transform 0.4s;

  &:hover {
    transform: rotate(1turn);
    cursor: pointer;
  }

  &.viewDefault {
    background-image: url('./close.svg');
  }

  &.viewCircle {
    background-image: url('./circle.svg');
  }

  &.sizeS.viewDefault {
    width: 12px;
    height: 12px;
  }

  &.sizeM.viewDefault {
    width: 20px;
    height: 20px;
  }

  &.sizeS.viewCircle {
    width: 15px;
    height: 15px;
  }

  &.sizeM.viewCircle {
    width: 30px;
    height: 30px;
  }

  &.themeInverse {
    background-image: url('./close-inverse.svg');
  }
}
