.pageIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin-bottom: var(--space-m);

  font-size: var(--size-xl);
}

.map {
  display: block;
}
