.footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xb);

  background: var(--color-light-gray);
}

.content {
  composes: main from 'containers';

  display: flex;
  justify-content: space-between;
}

@media (--mobile) {
  .content {
    display: block;
  }
}
