.footer {
  composes: main from 'containers';

  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-top: var(--space-xxl);
  padding-bottom: 60px;

  background: var(--color-light-gray);
}

.row {
  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
  }
}
