.wrapper {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 0 var(--space-xxl);
  overflow: hidden;
}

.siteNav {
  flex-shrink: 0;
  width: 100%;
}

.siteNav .link {
  display: block;

  color: var(--color-dark-gray);

  font-size: var(--size-n);
  line-height: 150%;
  white-space: nowrap;

  &.actived {
    color: var(--color-grafit);

    transition: color 150ms ease-in;

    &:after {
      display: block;
      width: 100%;
      height: 0;

      border-top: 1px solid var(--color-black);

      content: '';
    }
  }
}

@media (--mobile) {
  .wrapper {
    padding: 0 var(--space-s);
  }
}
