.section {
}
.section.hasDescription {
  .head {
    align-items: flex-end;
  }
}

.head {
  composes: main from 'containers';

  display: flex;
  justify-content: space-between;
}

.description {
  margin-top: var(--space-m);
}

.title {
  composes: xxl from 'sizes';

  margin: 0;

  font-weight: 500;
}

.priceMin {
  composes: m from 'sizes';

  margin-left: var(--space-xs);
}

.additional {
  margin-left: var(--space-xxs);
}

@media (--desktop-m) {
  .title {
    font-size: var(--size-xxl);
  }
}

@media (--desktop) {
  .title {
    font-size: var(--size-xl);
  }
}

@media (--mobile-m) {
  .title {
    font-size: var(--size-l);
  }
}

@media (--mobile) {
  .section.hasDescription {
    .head {
      flex-direction: column;
    }

    .additional {
      margin-top: var(--space-xxl);
      margin-left: 0;
    }
  }

  .title {
    font-size: var(--size-l);
  }

  .priceMin {
    margin-top: var(--space-xs);
    margin-left: 0;
  }
}
