.section {
}

.head {
  composes: main from 'containers';

  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-m);
}

.description {
  margin-top: var(--space-m);
}

.title {
  composes: xxl from 'sizes';

  margin: 0;

  font-weight: 500;
}

.priceMin {
  composes: m from 'sizes';

  margin-left: var(--space-xs);
}

.arrows {
  margin-left: var(--space-xxs);
}

.additional {
  margin-left: var(--space-xxs);
}

@media (--desktop-m) {
  .title {
    font-size: var(--size-xxl);
  }
}

@media (--desktop) {
  .title {
    font-size: var(--size-xl);
  }
}

@media (--mobile-m) {
  .head {
    flex-direction: column;
  }

  .title {
    font-size: var(--size-l);
  }

  .arrows {
    display: none;
  }

  .additional {
    margin-top: var(--space-n);
    margin-left: 0;
  }
}

@media (--mobile) {
  .title {
    font-size: var(--size-l);
  }

  .priceMin {
    margin-top: var(--space-xs);
    margin-left: 0;
  }
}
