.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1176px;
  margin: auto;
  padding: 0 var(--space-xxl);

  :global(.h1style) {
    margin: var(--space-xl) 0px;

    color: var(--color-black);
    font-weight: 500;
    font-size: var(--size-xb);
    font-family: var(--font-hero);
    line-height: var(--lh-xb);
    text-align: center;
  }

  p:first-of-type {
    margin-bottom: var(--space-xxl);
  }

  p strong {
    font-weight: 400;
  }

  a {
    color: var(--color-blue);
    text-decoration: none;
  }
}

@media (--desktop-m) {
  .wrapper {
    max-width: 1066px;
  }
}

@media (--desktop) {
  .wrapper h1 {
    font-size: var(--size-b);
    line-height: var(--lh-b);
  }
}

@media (--mobile-m) {
  .wrapper {
    padding: 0 var(--space-s);

    h1 {
      font-size: var(--size-xxl);
      line-height: var(--lh-xxl);
    }
  }
}

@media (--mobile) {
  .wrapper h1 {
    font-size: var(--size-xl);
    line-height: var(--lh-xl);
  }
}
