.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin-bottom: var(--space-e);
  padding: 0 523px;
}

.title {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: var(--space-xb);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
  text-align: center;
}

.questionsWrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 874px;
  margin: 0 auto;
}

.questionCard {
  margin-bottom: var(--space-xxl);

  &:last-child {
    margin-bottom: 0;
  }
}

@media (--desktop-m) {
  .wrapper {
    margin-bottom: var(--space-xb);
    padding: 0 259px;
  }
}

@media (--desktop) {
  .wrapper {
    padding: 0 201px;
  }

  .title {
    font-size: var(--size-xl);
    line-height: 150%;
  }
}

@media (--mobile-m) {
  .wrapper {
    padding: 0 var(--space-s);
  }

  .title {
    width: 100%;
    margin-bottom: var(--space-xxl);

    font-size: var(--size-l);
    line-height: 120%;
    text-align: left;
  }

  .questionsWrapper {
    max-width: none;
  }

  .questionCard {
    margin-bottom: var(--space-l);
  }
}
