.fabricExtraSample {
  display: inline-block;
  margin-bottom: var(--space-m);

  vertical-align: top;

  /* &:hover {
    cursor: pointer;
  } */
}

.fabricExtraSample.modalView {
  padding: 0 var(--space-xs);
}

.fabricExtraSample.gray {
  .mask {
    color: var(--color-dark-gray);
  }
}

.fabricExtraSample.white {
  .mask {
    color: var(--color-white);
  }
}

.wrapperImage {
  position: relative;

  &:hover {
    cursor: pointer;

    .iconAdd {
      opacity: 1;
    }
  }
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  transition: color 0.4s;
}

.image {
  position: relative;
  z-index: 1;

  flex-shrink: 0;

  width: 90px;
  height: 90px;

  /* border: 1px solid var( --color-white); */
}

.image.large {
  width: 145px;
  height: 145px;
}

.wrapperIcon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ok {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background: var(--color-white);
  border-radius: 50%; */
}

.iconDel {
  width: 36px;
  height: 36px;

  background-image: url('./del.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.iconAdd {
  width: 50px;
  height: 50px;

  background-image: url('./plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
}

.name {
  margin-top: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.moreInfo {
  margin-top: 10px;

  color: var(--color-dark-gray);
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  cursor: pointer;
}

@media (--mobile) {
  .FabricExtraSample {
    &-SampleHint {
      display: none;
    }
  }
}
