.publicationDetails {
  position: relative;
}

.scroller {
  height: 442px;
}

.containerContent {
  padding-left: 543px;
}

.medias {
  padding-left: var(--space-xxl);
}

.body {
  margin-top: var(--space-xxl);
  padding-left: var(--space-xxl);
}

.mainPhoto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 543px;

  background-position: center;
  background-size: cover;
}

.source {
  display: flex;
  align-items: center;
}

.sourcePreview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid var(--color-dark-gray);
}

.sourceImage {
  position: relative;

  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 65px;

  cursor: pointer;

  &:after {
    display: block;
    padding: 0 0 128.7234%;

    content: '';
  }

  &:before {
    position: absolute;
    top: 3px;
    right: -3px;
    bottom: -3px;
    left: 3px;
    z-index: 1;

    display: block;

    border: 1px solid var(--color-dark-gray);

    content: '';
  }
}

.sourceInfo {
  margin-left: var(--space-l);
}

.sourceName {
  composes: n from 'sizes';
}

.sourceDate {
  composes: s from 'sizes';

  color: var(--color-dark-gray);
}

.title {
  margin-bottom: var(--space-n);

  font-size: var(--size-xl);
  line-height: var(--lh-xl);
}

.textItem {
  margin-top: var(--space-n);

  &:first-child {
    margin-top: 0;
  }
}

.texts {
  padding-right: var(--space-e);
}

@media (--desktop-m) {
  .scroller {
    height: 625px;
  }

  .containerContent {
    padding-left: 0;
  }

  .mainPhoto {
    position: static;

    flex-grow: 0;
    flex-shrink: 0;
    width: 523px;

    &:before {
      display: block;
      padding: 0 0 81.4532%;

      content: '';
    }
  }

  .medias {
    display: flex;
    padding-left: 0;
  }

  .source {
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--space-xxl);
  }

  .sourceInfo {
    margin-top: var(--space-l);
    margin-left: 0;
  }

  .body {
    padding-left: 0;
  }

  .title {
    margin-bottom: var(--space-s);

    font-size: var(--size-l);
    line-height: var(--lh-l);
  }

  .texts {
    padding-right: 0;
  }
}

@media (--mobile-m) {
  .medias {
    display: block;
  }

  .mainPhoto {
    width: 100%;
  }

  .source {
    flex-direction: row;
    align-items: center;
    margin: var(--space-xxl) 0 0;
  }

  .sourceInfo {
    margin-top: 0;
    margin-left: var(--space-l);
  }

  .title {
    font-size: var(--size-xm);
    line-height: var(--lh-xm);
  }

  .scroller {
    height: 90vh;
  }
}
