.fabricFiltersItem {
  padding: var(--space-s) var(--space-l);

  border-right: 1px solid var(--color-border);

  &:hover {
    cursor: pointer;
  }
}

.textAndArrowWrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-width: 146px;
}

.arrow {
  margin-left: var(--space-xs);
}

.selectedFilters {
  margin-top: var(--space-2xs);

  white-space: nowrap;
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-modal);

  background: var(--color-default);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
  opacity: 0;

  pointer-events: none;
}

.popup.visible {
  opacity: 1;

  pointer-events: auto;
}

@media (--mobile-l) {
  .FabricFiltersItem {
    padding: var(--space-s) var(--space-s);
  }
}
