.wrapper {
}

.title {
  margin: 0 0 25px;

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xb);
  font-family: var(--font-hero);
  line-height: var(--lh-xb);
}

.description {
  margin: 0 0 40px;

  font-size: var(--size-m);
  font-family: var(--font-main);
  line-height: 150%;
}
