.wrapper {
  width: 100%;
}

.sectionCrossSale {
}

.title {
  margin: 0 0 var(--space-m);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xb);
  font-family: var(--font-hero);
  line-height: var(--lh-xb);

  @media (--desktop-m) {
    font-size: var(--size-b);
    line-height: var(--lh-b);
  }

  @media (--desktop) {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  @media (--mobile-m) {
    font-size: var(--size-xl);
    line-height: var(--lh-xl);
  }
}

.description {
  margin: 0;

  font-size: var(--size-m);
  line-height: var(--lh-m);

  @media (--desktop) {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }
}

.productItem {
  width: 28.405vw;
  min-width: 300px;
  max-width: 422px;
}

.header {
  max-width: 1176px;
  margin: 0 auto var(--space-xxl);

  text-align: center;
}
