.option {
  padding: var(--space-xxs);

  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;

  &.active {
    .sample:before {
      border-color: var(--color-dark-gray);
    }
  }

  &:hover {
    background-color: var(--color-light-gray);
  }
}

.container {
  display: flex;
  align-items: center;

  color: var(--color-black);
  text-decoration: none;
}

.sample {
  position: relative;

  width: 100px;
  height: 100px;
  margin-right: var(--space-s);

  border-radius: 5px;

  &:before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;

    display: block;
    padding: var(--space-xxs);
    overflow: hidden;

    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;

    content: '';
  }
}

.name {
  composes: s from 'sizes';

  margin-right: var(--space-n);
  padding: calc(var(--space-s) / 2) 0;
}

.price {
  composes: s from 'sizes';

  margin-left: auto;

  font-weight: 500;
}

.checkIcon {
  width: 13px;
  height: 9px;
  margin-left: auto;

  background-position: center;
  background-size: contain;
  opacity: 0;

  transition: opacity 0.2s;

  &.active {
    opacity: 1;
  }
}
