.option {
  cursor: pointer;

  &.active {
    .border {
      background: var(--color-white);
      border-color: var(--color-dark-gray);
    }
  }
}

.container {
  display: flex;
  align-items: center;

  color: var(--color-black);
  text-decoration: none;
}

.border {
  width: 110px;
  height: 110px;

  margin-right: var(--space-s);
  padding: var(--space-xxs);
  overflow: hidden;

  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}

.sample {
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

.name {
  composes: s from 'sizes';

  margin-right: var(--space-n);
  padding: calc(var(--space-s) / 2) 0;
}

.price {
  composes: s from 'sizes';

  margin-left: auto;

  font-weight: 500;
}

.checkIcon {
  width: 13px;
  height: 9px;
  margin-left: auto;

  background-position: center;
  background-size: contain;
  opacity: 0;

  transition: opacity 0.2s;

  &.active {
    opacity: 1;
  }
}
