.container {
  width: 380px;
  padding: var(--space-xl) var(--space-l);

  background: var(--color-bg-default);
}

@media (--mobile) {
  .container {
    width: 100vw;
    padding: var(--space-xl) var(--space-s);
  }
}
