.check {
}

.group {
  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid var(--color-grafit);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 27px;

  &:last-child {
    margin-bottom: 0;
  }
}

.item.isTotal {
  margin-top: 20px;

  .itemName {
    font-size: 22px;
    line-height: 33px;
  }
  .itemCost {
    color: var(--color-black);
    /* font-weight: 500; */
    font-size: 25px;
    line-height: 30px;
  }
}

.itemName {
  /* font-size: 18px;
  line-height: 27px; */
}

.itemValues {
  display: flex;
  align-items: center;
}

.itemCount {
  color: var(--color-dark-gray);
}

.itemCost {
  flex-shrink: 0;
  width: 180px;

  color: var(--color-dark-gray);

  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: right;
}
