.sideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 5;

  width: 100%;
  max-width: 460px;
  overflow-y: auto;

  background: var(--color-white);
}

.close {
  position: absolute;
  top: 27px;
  right: 15px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background: transparent;
  background: url('close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
