.buttonAr {
  opacity: 0;

  &.visibled {
    opacity: 1;
  }
}

.icon {
  width: 30px;
  height: 30px;

  background-image: url('./ar.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonText {
  margin-left: var(--space-s);
}

.button {
  padding: 0;
}

@media (--desktop) {
  .button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .icon {
    position: absolute;

    width: 25px;
    height: 25px;
  }
}
