.buttonAr {
}

.icon {
  width: 30px;
  height: 30px;

  background-image: url('./ar.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonText {
  margin-left: var(--space-s);
}

.button {
  padding: 0;
}

@media (--desktop) {
  .icon {
    width: 25px;
    height: 25px;
  }
}
