.wrapper {
  width: 1176px;
  margin: auto;
}

.title {
  margin: var(--space-xl) 0px;

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xb);
  font-family: var(--font-hero);
  line-height: var(--lh-xb);
  text-align: center;
}

@media (--desktop) {
  .wrapper {
    width: 100%;
    padding: 0px 150px;
  }
  .title {
    font-size: var(--size-b);
  }
}

@media (--mobile-m) {
  .wrapper {
    padding: 0px var(--space-xxl);
  }

  .title {
    font-size: var(--size-xxl);
  }
}

@media (--mobile) {
  .wrapper {
    padding: 0px var(--space-xs);
  }
  .title {
    font-size: var(--size-xl);
  }
}

.subTitle {
  margin-bottom: var(--space-xxl);

  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-n);
  font-style: normal;
  line-height: 150%;
}

.infoSection {
  margin-bottom: var(--space-l);
}

.infoSectionTitle {
  margin-bottom: var(--space-xs);

  font-weight: normal;
  font-size: var(--size-n);
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.infoSectionContent p {
  margin: var(--space-xs) 0px;

  font-weight: normal;
  font-size: var(--size-s);
  font-style: normal;
  line-height: 150%;
}
