.section {
  margin-left: var(--space-xxb-neg);
}

.wrapperGallery {
  padding-right: var(--space-xxb);
  padding-left: var(--space-xxb);
  overflow: hidden;
}

.arrows {
  margin-bottom: var(--space-l);
}

.progressBar {
  margin-top: var(--space-l);
}

.galleryItem:not(:last-child) {
  padding-right: var(--space-l);
}

.horizontal {
  width: 752px;

  background-position: center;
  background-size: cover;
}

.horizontal:before {
  display: block;
  padding: 0 0 66%;

  content: '';
}

.vertical {
  width: 458px;

  background-position: center;
  background-size: cover;
}

.vertical:before {
  display: block;
  padding: 0 0 151%;

  content: '';
}

.galleryImage {
  width: 100%;
  height: 100%;
  margin-right: var(--space-l);

  background-position: bottom;
  background-size: contain;
}

@media (--desktop-m) {
  .section {
    margin-left: var(--space-xxl-neg);
  }

  .wrapperGallery {
    padding-right: var(--space-xxl);
    padding-left: var(--space-xxl);
  }
}

@media (--desktop) {
  .section {
    margin-left: var(--space-xxl-neg);
  }

  .horizontal {
    width: 554px;
  }

  .vertical {
    width: 367px;
  }

  .galleryItem:not(:last-child) {
    padding-right: var(--space-n);
  }
}

@media (--mobile-m) {
  .section {
    margin-left: var(--space-s-neg);
  }

  .wrapperGallery {
    padding-top: var(--space-xxl);
    padding-right: var(--space-s);
    padding-left: var(--space-s);
  }

  .horizontal {
    width: 414px;
  }

  .vertical {
    width: 275px;
  }

  .arrows {
    display: none;
  }
}

@media (--mobile) {
  .horizontal {
    width: 310px;
  }

  .vertical {
    width: 205px;
  }
}
