.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  display: flex;
}

@media (--mobile-l) {
  .Modal-Close {
    position: fixed;
    top: var(--space-m);
    right: var(--space-s);
  }
}
