.dropdown {
  position: relative;

  &.visible {
    .arrow {
      transform: rotate(-180deg);
    }
  }

  & .popup {
    top: var(--space-xs-neg);
    right: var(--space-s-neg);
    left: auto;

    padding-top: var(--space-xs);

    transform: none;
  }
}

.containerLabel {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.label {
  composes: n from 'sizes';
}

.arrow {
  width: 10px;
  height: 6px;
  margin-left: var(--space-xxs);

  background-image: url('./arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transition: transform 0.2s;
}

@media (--mobile) {
  .dropdown {
    position: static;
  }
}
