.section {
}

.head {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--space-b);
}

.title {
  composes: xxl from 'sizes';
  font-weight: 500;
  margin: 0;
}

.priceMin {
  composes: m from 'sizes';
  margin-left: var(--space-xs);
}
