.formItem {
  margin-bottom: var(--space-n);

  &:last-child {
    margin-bottom: 0;
  }

  &.hidden {
    display: none;
  }

  &.viewPrimary {
    .label {
      margin-bottom: var(--space-xs);
    }
  }

  &.viewSecondary {
    display: flex;
    align-items: center;

    .label {
      width: 100%;
      max-width: 82px;
      margin-right: var(--space-l);
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.label {
  composes: s from 'sizes';
}

.bottom {
  composes: s from 'sizes';

  margin-top: var(--space-xs);
}

@media (--mobile) {
  .formItem {
    &.viewSecondary {
      display: block;

      .label {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: var(--space-xs);
      }
    }
  }
}
