html {
  min-width: 360px;

  font-weight: 400;

  font-size: var(--size-n);

  font-family: var(--font-main);
  line-height: var(--lh-n);
  -webkit-text-size-adjust: 100%;

  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;

  overflow-y: scroll;
}

.container {
  width: 1268px;
  height: 760px;
  padding: 20px;
  padding-bottom: 40px;

  border: 1px solid #c4c4c4;
}
