html {
  composes: n from 'sizes';

  min-width: 360px;

  font-weight: 400;

  font-family: var(--font-main);
  -webkit-text-size-adjust: 100%;

  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;

  overflow-y: scroll;
}
