.main {
  --gap: var(--space-xxb);
  box-sizing: border-box;
  width: 100%;
  max-width: 1778px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gap);
  padding-left: var(--gap);
}

.narrow {
  --gap: var(--space-xxl);
  --width: 1256px;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gap);
  padding-left: var(--gap);
}

@media (--desktop-m) {
  .main {
    --gap: var(--space-xxl);
  }

  .narrow {
    --width: 1146px;
  }
}

@media (--mobile-m) {
  .main {
    --gap: var(--space-s);
  }

  .narrow {
    --gap: var(--space-s);
  }
}
