@import './fonts/CeraPro/font.css';
@import './fonts/CloserText/font.css';

:root {
  --font-main: CeraPro, sans-serif;
  --font-hero: CloserText, sans-serif;
}

.main {
  font-family: var(--font-main);
}

.hero {
  font-family: var(--font-hero);
}
