:root {
  --space-xxs: 5px;
  --space-xs: 10px;
  --space-s: 15px;
  --space-n: 20px;
  --space-m: 25px;
  --space-l: 30px;
  --space-xl: 35px;
  --space-xxl: 40px;
  --space-b: 50px;
  --space-xb: 60px;
  --space-xxb: 70px;
  --space-e: 80px;
  --space-xe: 90px;
  --space-xxe: 100px;
  --space-mega: 140px;
}
