.wrapper {
  margin-bottom: var(--space-xxe);
}

.bottomBlock {
  box-sizing: border-box;
  padding: var(--space-xxe) 0;

  background: var(--color-light-gray);
}

.bottomBlock_firstLine {
  display: flex;
  margin-bottom: var(--space-e);
  padding-left: 220px;
}

.bottomBlock_secondLine {
  display: flex;
  padding-right: 220px;
}

.bottomBlock_textWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bottomBlock_firstLine .bottomBlock_textWrapper {
  margin-right: 240px;
}

.bottomBlock_secondLine .bottomBlock_textWrapper {
  margin-left: 240px;
}

.bottomBlock_img {
  display: block;
  align-self: center;
  width: 841px;
  height: 426px;
}

.bottomBlock_title {
  margin-bottom: var(--space-l);

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
}

.bottomBlock_description {
  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-n);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

@media (--desktop-m) {
  .wrapper {
    margin-bottom: var(--space-e);
  }

  .bottomBlock {
    padding: var(--space-e) 0;
  }

  .bottomBlock_firstLine {
    margin-bottom: var(--space-xb);
    padding-left: 150px;
  }

  .bottomBlock_secondLine {
    padding-right: 150px;
  }

  .bottomBlock_firstLine .bottomBlock_textWrapper {
    margin-right: 120px;
  }

  .bottomBlock_secondLine .bottomBlock_textWrapper {
    margin-left: 120px;
  }

  .bottomBlock_img {
    width: 673px;
    height: 340px;
  }

  .bottomBlock_title {
    margin-bottom: var(--space-n);
  }
}

@media (--desktop) {
  .wrapper {
    margin-bottom: var(--space-xb);
  }

  .bottomBlock {
    padding: var(--space-xb) 0;
  }

  .bottomBlock_firstLine {
    padding-left: var(--space-xxl);
  }

  .bottomBlock_secondLine {
    padding-right: var(--space-xxl);
  }

  .bottomBlock_firstLine .bottomBlock_textWrapper {
    margin-right: var(--space-xxe);
  }

  .bottomBlock_secondLine .bottomBlock_textWrapper {
    margin-left: var(--space-xxe);
  }

  .bottomBlock_img {
    width: 460px;
    height: 233px;
  }

  .bottomBlock_title {
    font-size: var(--size-xl);
    line-height: 150%;
  }
}

@media (--mobile-m) {
  .bottomBlock_firstLine {
    padding-left: var(--space-s);
  }

  .bottomBlock_secondLine {
    padding-right: var(--space-s);
  }

  .bottomBlock_firstLine .bottomBlock_textWrapper {
    margin-right: var(--space-xb);
  }

  .bottomBlock_secondLine .bottomBlock_textWrapper {
    margin-left: var(--space-xb);
  }

  .bottomBlock_img {
    width: 360px;
    height: 182px;
  }

  .bottomBlock_title {
    font-size: var(--size-l);
    line-height: 120%;
  }
}

@media (--mobile) {
  .bottomBlock_firstLine {
    flex-direction: column-reverse;
  }

  .bottomBlock_secondLine {
    flex-direction: column;
  }

  .bottomBlock_firstLine .bottomBlock_textWrapper {
    margin: 0 var(--space-s) 0 0;
  }

  .bottomBlock_secondLine .bottomBlock_textWrapper {
    margin: 0 0 0 var(--space-s);
  }

  .bottomBlock_img {
    width: 100%;
    margin-bottom: var(--space-xxl);
  }
}
