.minimize {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 103px;

  cursor: pointer;

  &.collapsed .icon {
    transform: rotate(0);
  }
}

.text {
  color: var(--color-dark-gray);
}

.icon {
  width: 12px;
  height: 12px;
  margin-left: var(--space-xxs);

  background-image: url('./iconArrow.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotate(1turn);

  transition: transform 0.4s;
}
