.button {
  composes: n from 'sizes';

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: var(--font-main);

  border: 0;
  cursor: pointer;
}

.button.wide {
  width: 100%;
}

.button.viewMain {
  border-radius: 4px;
}

.button.viewRounded {
  border-radius: 45px;
}

.button.sizeL {
  height: var(--space-b);
}

.button.sizeM {
  height: 42px;
}

.button.sizeS {
  height: var(--space-xl);
}

.button.themePrimary {
  padding: 0 var(--space-n);

  color: var(--color-white);

  background: var(--color-grafit);
  border: 1px solid var(--color-grafit);
  outline: none;

  transition: all 0.2s;

  &:hover {
    background: var(--color-dark-gray);
    border-color: var(--color-dark-gray);
  }

  &:focus {
    border-color: var(--color-black);
  }

  &:active {
    color: var(--color-black);

    background: var(--color-white);
    border-color: var(--color-black);
  }
}

.button.themeSecondary {
  padding: 0 var(--space-n);

  color: var(--color-black);

  background: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  outline: none;

  transition: all 0.2s;

  &:hover {
    background: var(--color-medium-gray);
    border-color: var(--color-medium-gray);
  }

  &:focus {
    border-color: var(--color-black);
  }

  &:active {
    background: var(--color-dark-gray);
    border-color: var(--color-black);
  }
}

.button.themeBlank {
  padding: 0 var(--space-n);

  color: var(--color-black);
  font-size: var(--size-n);
  line-height: var(--lh-n);

  background: var(--color-white);
  border: 1px solid var(--color-medium-gray);
}

.button.themeDirty {
  padding: 0 var(--space-n);

  color: var(--color-white);

  background: var(--color-dirty);
}

.button.themeRoundedDirty {
  width: var(--space-xxl);
  height: var(--space-xxl);

  color: var(--color-white);

  background: var(--color-dirty);
  border-radius: 100%;
}

.button.themeLinkSecondary {
  padding: 0;

  color: var(--color-dark-gray);

  background-color: transparent;
  background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
  border: 0;
  outline: none;

  transition: all 0.2s;

  &:focus {
    color: var(--color-dark-gray);

    background-image: none;
  }

  &:hover {
    color: var(--color-black);

    background-image: none;
  }

  &:active {
    color: var(--color-black);

    background-image: linear-gradient(var(--color-black), var(--color-black));
  }
}

.button.themeLinkPrimary {
  padding: 0;

  color: var(--color-black);

  background-color: transparent;
  background-image: linear-gradient(var(--color-black), var(--color-black));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
  border: 0;
  outline: none;

  transition: all 0.2s;

  &:focus {
    color: var(--color-black);

    background-image: none;
  }

  &:hover {
    color: var(--color-dark-gray);

    background-image: none;
  }

  &:active {
    color: var(--color-dark-gray);

    background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
  }
}

.button.themeCircle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;

  color: var(--color-dark-gray);

  background-color: var(--color-grafit);
  border: 0;
  border-radius: 50%;
  outline: none;

  transition: all 0.2s;

  &:focus {
  }

  &:hover {
  }

  &:active {
  }
}

.before {
  margin-right: var(--space-xs);
}

@media (--desktop-m) {
  .button.themeBlank {
    /* height: 42px; */
  }
}

@media (--mobile-m) {
  .button.themeBlank {
    /* height: var(--space-xl); */

    font-size: var(--size-s);
    line-height: var(--lh-s);
  }
}
