.button {
  composes: n from 'sizes';

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: var(--font-main);

  border: 0;
  cursor: pointer;
}

.button.wide {
  width: 100%;
}

.button.viewMain {
  border-radius: 4px;
}

.button.viewRounded {
  border-radius: 45px;
}

.button.themePrimary {
  height: 50px;
  padding: 0 var(--space-n);

  color: var(--color-white);

  background: var(--color-grafit);
  border: 1px solid var(--color-grafit);
  outline: none;

  transition: all 0.2s;

  &:hover {
    background: var(--color-dark-gray);
    border-color: var(--color-dark-gray);
  }

  &:focus {
    border-color: var(--color-black);
  }

  &:active {
    color: var(--color-black);

    background: var(--color-white);
    border-color: var(--color-black);
  }
}

.button.themeSecondary {
  height: 50px;
  padding: 0 var(--space-n);

  color: var(--color-black);

  background: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  outline: none;

  transition: all 0.2s;

  &:hover {
    background: var(--color-medium-gray);
    border-color: var(--color-medium-gray);
  }

  &:focus {
    border-color: var(--color-black);
  }

  &:active {
    background: var(--color-dark-gray);
    border-color: var(--color-black);
  }
}

.button.themeBlank {
  height: 50px;
  padding: 0 var(--space-n);

  color: var(--color-black);

  background: var(--color-white);
  border: 1px solid var(--color-medium-gray);
}

.button.themeDirty {
  height: 50px;
  padding: 0 var(--space-n);

  color: var(--color-white);

  background: var(--color-dirty);
}

.button.themeLinkSecondary {
  padding: 0;

  color: var(--color-dark-gray);

  background-color: transparent;
  background-image: linear-gradient(var(--color-dark-gray), var(--color-dark-gray));
  background-repeat: no-repeat;
  background-position: left 0 bottom calc(16% - 3px);
  background-size: 100% 1px;
  border: 0;
  outline: none;

  transition: all 0.2s;

  &:focus {
    color: var(--color-dark-gray);

    background-image: none;
  }

  &:hover {
    color: var(--color-black);

    background-image: none;
  }

  &:active {
    color: var(--color-black);

    background-image: linear-gradient(var(--color-black), var(--color-black));
  }
}

.before {
  margin-right: var(--space-xs);
}
