.page {
}

.pageTitle {
  margin-top: 35px;
}

.orderTextileSamples {
  margin-top: 60px;
}

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
}

.text {
  margin-top: 60px;

  font-size: 18px;
  line-height: 27px;
}

.textileSelector {
  margin-top: 100px;
}

.callBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 574px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;

  text-align: center;
}

@media (--desktop-m) {
  .wrapper {
    max-width: 1080px;
  }

  .textileSelector {
    margin-top: 80px;
  }

  .callBack {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

@media (--desktop) {
  .wrapper {
    max-width: 944px;
  }

  .text {
    margin-top: 40px;
  }

  .textileSelector {
    margin-top: 60px;
  }

  .callBack {
    margin-top: 60px;
  }
}

@media (--mobile-m) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }

  .orderTextileSamples {
    margin-top: 40px;
  }
}
