.shortName {
  composes: xb from 'sizes';

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-hero);
}

.fullName {
  composes: s from 'sizes';
}

.wrapperRating {
  display: flex;
  align-items: center;
  margin-top: var(--space-n);
}

.sidebar .countReviews {
  height: auto;
  margin-left: var(--space-xs);

  font-size: var(--size-s);
  line-height: var(--lh-s);
}

.wrapperPrice {
  margin-top: var(--space-l);
}

.wrapperOutOfStock {
  margin-top: var(--space-l);
}

.containerPrices {
  display: flex;
  align-items: center;
}

.actualPrice {
  composes: xl from 'sizes';

  font-weight: 500;
}

.expiredPrice {
  margin-left: var(--space-s);
}

.discount {
  margin-left: var(--space-s);
}

.bonuses {
  margin-top: var(--space-xs);
}

.sidebar .priceReduction {
  display: inline-block;
  margin-top: var(--space-s);

  font-size: var(--size-s);
  line-height: var(--lh-s);
}

.wrapperFabrics {
  margin-top: var(--space-xl);
}

.sidebar .orderFabrics {
  display: inline-block;
  margin-top: var(--space-xs);

  font-size: var(--size-s);
  line-height: var(--lh-s);
}

.relatedProducts {
  margin-top: var(--space-xl);
}

.actions {
  margin-top: var(--space-xxl);
}

.action {
  margin-bottom: var(--space-s);

  &:last-child {
    margin-bottom: 0;
  }
}

.btnBuy {
  font-size: var(--size-m);
  line-height: var(--lh-m);
}

.linksList {
  margin-top: var(--space-xxl);
}

.icon {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-size: contain;
}

.icon.delivery {
  background-image: url('./icons/delivery.svg');
}

.icon.perzent {
  background-image: url('./icons/perzent.svg');
}

.icon.attention {
  background-image: url('./icons/attention.svg');
}

@media (--desktop) {
  .shortName {
    font-size: var(--size-b);
    line-height: var(--lh-b);
  }

  .btnBuy {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }
}

@media (--mobile-m) {
  .shortName {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }
}
