.grid {
  --sidebar-width: 25.764%%;

  display: grid;
  grid-gap: var(--space-xe);
  grid-template-columns: 1fr var(--sidebar-width);
}

@media (--desktop-m) {
  .grid {
    --sidebar-width: 25.66%;
    grid-gap: var(--space-xb);
  }
}

@media (--desktop) {
  .grid {
    --sidebar-width: 31.78%;
  }
}

@media (--mobile-m) {
  .grid {
    --sidebar-width: 100%;
    display: block;
  }

  .sidebar {
    max-width: 486px;
    margin: var(--space-n) auto 0;
  }
}
