.head {
  /* padding: 0 var(--space-l); */
}

.title {
  padding-bottom: 30px;

  text-align: center;

  border-bottom: 1px solid var(--color-medium-gray);
}

.fabrickFilters {
  margin-top: var(--space-m);
  margin-right: -30px;
  margin-left: -30px;

  background: var(--color-bg-light);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  & button {
    background-color: var(--color-default);
    border: 1px solid #bfbfbf;
    border-radius: 2px;
  }
}

.wrapperMainContent {
  display: flex;
  flex-direction: column;
  margin-right: -30px;
  margin-left: -30px;

  /* max-width: 1582px; */
  /* margin-top: var(--space-xl); */
  /* padding-right: var(--space-3xl); */
}

.left {
  /* flex-grow: 1; */
  /* max-width: calc(100% - 350px); */
  /* min-height: 500px; */
  position: relative;
}

.constructorGroup {
  margin-top: var(--space-l);
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.fabricExtraSample {
  margin-bottom: var(--space-l);
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  color: var(--color-text-secondary);
}

.notFoundTitle {
  color: var(--color-text-primary);
  font-weight: 600;
}

.right {
  position: relative;

  /* min-width: 350px; */
}

.wrapperFormOrder {
  padding: var(--space-m) 0 var(--space-3xl) 0;
}

.samplesForm {
  position: static;

  /* width: 100%;
  width: 350px; */
  padding: var(--space-xl) var(--space-m);

  background: var(--color-default);
  box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.2);
}

.samplesFormTitle {
  margin-bottom: var(--space-m);

  font-size: var(--size-l);
  line-height: var(--size-2xl);
  text-align: center;
}

.samplesFormContent {
  display: flex;
  /* align-items: center; */
  flex-basis: 0;
  flex-direction: column;
  justify-content: space-between;
}

.examples {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  border: 1px dashed var(--color-medium-gray);
  border-radius: 4px;
  /* margin-left: -10px;
  margin-right: -10px; */
}

.exampleMobile {
  width: 90px;
  height: 90px;
  /* padding: 0 10px; */
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

/* .example {
  width: 90px;
  height: 90px;
} */

.inputs {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.input {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.samplesFormWrapperInfo {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  /* margin-top: var(--space-l); */

  /* text-align: center; */
  /* margin-left: 60px; */
}

.submit {
  width: 100%;
  margin-top: 30px;
}

.samplesFormInfo {
  margin-top: var(--space-s);

  font-size: var(--size-xs);
  line-height: var(--size-m);
  text-align: center;
}

.samplesFormInfoLink {
  color: var(--color-text-secondary);
}

.mobileForm {
  z-index: 2;

  /* display: none; */
  width: 100%;
  padding: 60px 0;

  background: var(--color-light-gray);
}

.titleForm {
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
}

.mobileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
}

.samplesFormInfoMobile {
  /* margin-top: 25px; */
  color: var(--color-dark-gray);

  font-size: 12px;
  line-height: 18px;
  /* text-align: center; */
}

.basket {
  color: var(--color-default);
}

.showAllGroups {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  margin: 0 auto;

  color: var(--color-secondary);

  cursor: pointer;
}

.arrow {
  margin-left: var(--space-2xs);
}

.containerForm {
  position: fixed;
  right: 0;
  bottom: -100%;
  left: 0;
  z-index: 11;

  transition: bottom 0.4s;
}

.containerForm.opened {
  bottom: 0;
}

@media (--desktop) {
  .constructorGroup {
    margin-top: 20px;
  }

  .mobileForm {
    padding: 40px 0;
  }

  .formContainer {
    max-width: 600px;
    margin-top: 30px;
  }

  .examples {
    padding: 15px;
  }

  .exampleMobile {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .inputs {
    width: 240px;
  }
}

@media (--mobile-m) {
  .fabrickFilters,
  .wrapperMainContent {
    margin-right: -15px;
    margin-left: -30px;
  }

  .constructorGroup {
    font-size: 16px;
    line-height: 24px;
    /* padding-left: 15px;
    padding-right: 15px; */
  }
}

@media (--mobile) {
  .formContainer {
    flex-direction: column;
    padding: 0 15px;
  }

  .samplesFormWrapperInfo {
    margin-top: 30px;
  }

  .inputs {
    width: 100%;
  }

  .samplesFormInfoMobile {
    margin-top: 15px;
  }

  /* .samplesForm {
    padding: var(--space-s) var(--space-m);
  }

  .samplesFormTitle {
    text-align: center;
  }

  .samplesFormInfoMobile {
    max-width: 330px;
    margin: 0 auto;
    margin-top: var(--space-s);
    text-align: unset;
  }

  .examples {
    flex-grow: 1;
    justify-content: space-between;
  } */
}
