.wrapper {
  display: flex;
  width: 100%;
  max-width: 1780px;
  margin: var(--space-xxl) auto 0 auto;
}

.wrapper1 {
  width: 100%;
}

.section {
  overflow: hidden;
}

.trendsWrapper {
  display: flex;
  align-items: flex-end;
}

.logoWrapper {
  display: flex;
}

.leftLine_wrapper {
  width: calc(100% - 684px - 40px - 40px);
}

.trendsLogo {
  margin-right: 40px;
}

.wrapperGallery {
  margin-top: var(--space-l);
  padding: 0 var(--space-xxb);
}
.slide {
  box-sizing: content-box;
  margin-right: var(--space-l);
}

.slide:last-child {
  margin-right: 0;
}

.progressBar {
  margin: 0 var(--space-xxb);
}

@media (--desktop-m) {
  .wrapperGallery {
    padding: 0 var(--space-xxl);
  }

  .trendsLogo {
    margin-right: 40px;
  }

  .progressBar {
    margin: 0 var(--space-xxl);
  }
}

@media (--desktop) {
  .slide {
    margin-right: var(--space-n);
  }

  .slide:last-child {
    margin-right: 0;
  }

  .trendsLogo {
    width: 472px;
    height: 82px;
  }
  .leftLine_wrapper {
    width: calc(100% - 472px);
  }

  .leftLine {
    height: 82px;
  }
}
