.progress {
  position: relative;

  height: 1px;

  background: var(--color-medium-gray);
}
.progress.invisible {
  opacity: 0;
}

.die {
  position: absolute;
  top: 0;

  height: 100%;

  background: var(--color-black);

  transition: left 0.2s;
}
