.wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 100px;
  padding: 0;
}

.content {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1480px;
  margin: var(--space-e) 0 var(--space-xxe);
}

.bgWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stepsWrapper {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin-top: 0;
  margin-bottom: var(--space-l);

  color: var(--color-white);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-xxl);
}

.description {
  align-self: flex-start;
  margin-bottom: var(--space-e);

  color: var(--color-white);
  font-weight: normal;
  font-size: var(--size-m);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

@media (--desktop-m) {
  .wrapper {
    margin-bottom: var(--space-e);
  }

  .content {
    width: 100%;
    margin: var(--space-xb) 0 var(--space-e);
  }

  .description {
    font-size: var(--size-n);
    line-height: 150%;
  }
}

@media (--desktop) {
  .wrapper {
    margin-bottom: var(--space-xb);
  }

  .content {
    max-width: 100%;
    margin: var(--space-xb) 0 var(--space-e);
  }

  .title {
    font-size: var(--size-xl);
    line-height: 150%;
  }
}

@media (--mobile-m) {
  .stepsWrapper {
    display: grid;
    grid-row-gap: var(--space-xb);
    grid-column-gap: var(--space-xxe);
    grid-template-columns: 1fr 1fr;
    align-self: center;
    width: fit-content;
  }

  .description {
    font-size: var(--size-s);
    line-height: 150%;
  }

  .content {
    margin: var(--space-xb) 0 var(--space-xxe);
  }

  .title {
    font-size: var(--size-l);
    line-height: 150%;
  }
}

@media (--mobile) {
  .stepsWrapper {
    grid-row-gap: var(--space-xxl);
    grid-template-columns: 1fr;
    align-self: flex-start;
  }

  .description {
    font-size: var(--size-n);
    line-height: 150%;
  }

  .content {
    margin: var(--space-xb) 0 var(--space-e);
  }
}
