.section {
  padding-bottom: 100px;
  overflow: hidden;
}

.tabs {
  composes: main from 'containers';

  margin-top: var(--space-n);
}

.wrapperGallery {
  composes: main from 'containers';

  margin-top: var(--space-xxl);
}

.gallery {
  margin: 0 var(--space-xs-neg) var(--space-xxl);
}

.galleryViewport {
  overflow: visible;
}

.item {
  width: 28.405vw;
  min-width: 300px;
  max-width: 422px;
  padding: 0 var(--space-xs);
}
