.section {
  overflow: hidden;
}

.tabs {
  composes: main from 'containers';

  margin-top: var(--space-n);
}

.arrows {
  opacity: 0;

  pointer-events: none;

  &.visible {
    opacity: 1;

    pointer-events: all;
  }
}

.wrapperGallery {
  composes: main from 'containers';

  margin-top: var(--space-xxl);
}

.gallery {
  margin: 0 var(--space-xs-neg) var(--space-xxl);
}

.galleryViewport {
  overflow: visible;
}
