.header {
  position: sticky;
  top: 0;
  z-index: 20;

  display: block;
  width: 100%;
  margin-bottom: 54px;

  background: #fff;

  transition: box-shadow 100ms ease-in 250ms;
}

.scroll {
  transition: box-shadow 100ms ease-in;
}

.headerTop {
  position: relative;
  z-index: 2;

  padding-top: 40px;
  padding-bottom: 15px;

  background: var(--color-white);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userMenu {
  margin-left: 30px;
}

.mainNav {
  width: auto;
  max-width: 100%;
  margin-right: 80px;
}

.maxWidth {
  flex: 1;
  justify-content: flex-start;
}

.search {
  flex: 0 0 auto;
  width: 240px;
  margin-right: 35px;
}

.slider {
  display: flex;
  align-items: flex-end;
  width: 117px;
  margin-right: 35px;
}

.in {
  position: relative;
  z-index: 10;
}

.headerWrapper {
}

.location {
  margin-right: 15px;

  font-size: var(--size-s);
}
