.wrapper {
  position: relative;

  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.search {
  box-sizing: border-box;
  padding: 7px 15px 7px 0;
  overflow: hidden;

  border: 1px solid var(--color-medium-gray);
  border-radius: 29px;
}

.searchMobile {
  padding: 0;

  /*border: none;*/
  border-radius: 29px;

  input {
    padding: 0;
    padding-left: 46px;
  }
}

.inputBlock {
  input {
    padding: 0;

    border-color: 1px solid var(--color-medium-gray);
    border-radius: 29px;
  }
}

.button {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;

  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background: transparent;
  background-image: url('icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;

  transition: background 250ms ease-in, transform 250ms linear;
}

.inputWrapper.show .button {
  transform: translateY(-50%) translateX(8px);
  visibility: hidden;
  opacity: 0;

  transition: opacity 250ms ease-in, visibility 250s ease, transform 250ms linear;
}

.submit {
  visibility: hidden;
  opacity: 0;
}

.inputWrapper.show .button.submit {
  visibility: visible;
  opacity: 1;
}

.inputWrapper {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 30px;

  border-radius: 29px;

  transition: max-width 200ms ease-in, z-index 400s ease 400ms, box-shadow 200ms ease-in;
}

.inputWrapper.show {
  z-index: 5;

  max-width: 100%;

  box-shadow: 0px 0px 0px 1px var(--color-black);

  transition: max-width 200ms ease-in, z-index 0s ease, box-shadow 200ms ease-in;
}

.modal {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;

  display: none;
  width: 1044px;
  height: 464px;
  margin-top: 10px;

  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.modal.show {
  display: block;
}
