.wrapper {
  position: relative;

  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.search {
  box-sizing: border-box;
  padding: 7px 15px 7px 46px;
  overflow: hidden;

  border: 1px solid var(--color-medium-gray);
  border-radius: 29px;

  input {
    padding: 0;
  }
}

.searchMobile {
  padding: 0;

  border: none;
  border-radius: 29px;
}

.button {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;

  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background: transparent;
  background-image: url('icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;

  transition: background 150ms ease-in;
}

.inputWrapper.show .button {
  transform: translateY(-50%) translateX(-15px);
  visibility: hidden;
  opacity: 0;

  transition: opacity 150ms ease-in, visibility 0s ease 150ms, transform 150ms ease-in;
}

.submit {
  visibility: hidden;
  opacity: 0;
}

.inputWrapper.show .button.submit {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;

  display: none;
  width: 1044px;
  height: 464px;
  margin-top: 10px;

  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.modal.show {
  display: block;
}

.inputWrapper {
  position: relative;

  width: 100%;
  max-width: 30px;

  border: 1px solid transparent;
  border-radius: 29px;

  transition: max-width 200ms ease-in, border-color 200ms ease-in;
}

.inputWrapper.show {
  max-width: 100%;

  border-color: var(--color-black);

  transition: max-width 200ms ease-in, border-color 200ms ease-in;
}
