.rating {
  display: flex;
  align-items: center;

  &.sizeS {
    .star {
      width: 14px;
      height: 14px;
    }

    .score {
      margin-left: var(--space-s);
    }
  }

  &.sizeM {
    .star {
      width: 22px;
      height: 22px;
    }

    .score {
      margin-left: var(--space-s);

      font-size: var(--size-l);
      line-height: var(--lh-l);
    }
  }

  &.editable {
    cursor: pointer;
  }
}

.list {
  display: flex;
  align-items: center;
}

.star {
  background-image: url('./starDefault.svg');
  background-repeat: no-repeat;
  background-size: contain;

  &.selected {
    background-image: url('./starSelected.svg');
  }
}

.score {
  font-weight: 500;
}
