.rating {
  display: flex;
  align-items: center;

  &.sizeS {
    .star {
      width: 14px;
      height: 14px;
    }

    .score {
      margin-left: var(--space-s);
    }
  }

  &.sizeM {
    .star {
      width: 22px;
      height: 22px;
    }

    .score {
      margin-left: var(--space-s);

      font-size: var(--size-l);
      line-height: var(--lh-l);
    }
  }

  &.editable {
    cursor: pointer;
  }
}

.wrapperList {
  position: relative;
}

.backgroundList,
.mainList {
  display: flex;
  align-items: center;
}

.mainList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  overflow: hidden;
}

.star {
  flex-shrink: 0;

  background-image: url('./starDefault.svg');
  background-repeat: no-repeat;
  background-size: contain;

  &.selected {
    background-image: url('./starSelected.svg');
  }
}

.score {
  font-weight: 500;
}
