:root {
  --width-mobile: 330px;
  --width-mobile-m: 483px;
  --width-desktop: 489px;
  --width-desktop-m: 577px;
  --width-desktop-l: 700px;

  --height-mobile: 307px;
  --height-mobile-m: 396px;
  --height-desktop: 454px;
  --height-desktop-m: 504px;
  --height-desktop-l: 577px;

  --hide-height-mobile: 73px;
  --hide-height-mobile-m: 109px;
  --hide-height-desktop: 110px;
  --hide-height-desktop-m: 128px;
  --hide-height-desktop-l: 157px;

  --animate-left-speed: 500ms;
}

.layers {
  display: flex;
  flex: 0 0 auto;
  width: var(--width-desktop-l);
  height: var(--height-desktop-l);
  margin: auto;

  @media (--desktop-m) {
    width: var(--width-desktop-m);
    height: var(--height-desktop-m);
  }

  @media (--desktop) {
    flex: 0 0 auto;
    width: var(--width-desktop);
    height: var(--height-desktop);

    transition: margin 500ms ease-in-out 600ms;
  }

  @media (--mobile-m) {
    width: 100%;
    max-width: var(--width-mobile-m);
    height: var(--hide-height-mobile-m);

    margin: 0 auto 60px;

    transition: height 500ms ease-in-out 600ms, margin 500ms ease-in-out 600ms;
  }

  @media (--mobile) {
    width: 100%;
    max-width: var(--width-mobile);
    height: var(--hide-height-mobile);
    margin: 0 auto 60px;
  }
}

.open .layers {
  transition: height 500ms ease-in-out;

  @media (--mobile-m) {

    height: var(--height-mobile-m);

    transition: height 500ms ease-in-out;
  }

  @media (--mobile) {
    height: var(--height-mobile);
  }
}

.description {
  @media (--desktop-l) {
    width: 100%;
    max-width: 620px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 160px;
  }

  @media (--desktop-m) {
    max-width: 390px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
  }

  @media (--desktop) {
    margin-left: 60px;
  }

  @media (--mobile-m) {
    margin: 0 auto;
  }
}

.section {
  margin-bottom: 140px;
  overflow: hidden;

  @media (--desktop-m) {
    margin-bottom: 120px;
  }

  @media (--desktop) {
    margin-bottom: 100px;
  }

  @media (--mobile-m) {
    margin-bottom: 60px;
  }
}

.inner {
  position: absolute;

  left: 50%;

  display: flex;
  flex-direction: column;
  width: var(--width-desktop-l);
  height: var(--hide-height-desktop-l);

  transform: translateX(-50%);

  transition: height 500ms ease-in-out 600ms, transform 500ms ease-in-out 600ms,
    left 500ms ease-in-out 600ms;

  @media (--desktop-m) {
    flex: 0 0 auto;
    width: var(--width-desktop-m);
    height: var(--hide-height-desktop-m);

    transition: height 500ms ease-in-out 600ms, transform 500ms ease-in-out 600ms,
      left 500ms ease-in-out 600ms;
  }

  @media (--desktop) {
    width: var(--width-desktop);
    height: var(--hide-height-desktop);
  }

  @media (--mobile-m) {
    left: auto;

    width: var(--width-mobile-m);

    max-width: none;
    height: var(--hide-height-mobile-m);

    transform: none;

    transition: height 500ms ease-in-out 600ms;
  }

  @media (--mobile) {
    width: 100%;
    max-width: var(--width-mobile);
    height: var(--hide-height-mobile);
  }
}

.open .inner {
  left: 0;

  height: var(--height-desktop-l);

  transform: translateX(0);

  transition: height var(--animate-left-speed) ease-in-out,
    transform var(--animate-left-speed) ease-in-out, left var(--animate-left-speed) ease-in-out;

  @media (--desktop-m) {
    height: var(--height-desktop-m);
  }

  @media (--desktop) {
    height: var(--height-desktop);
  }

  @media (--mobile-m) {
    left: auto;

    height: var(--height-mobile-m);

    transform: none;

    transition: height 500ms ease-in-out;
  }

  @media (--mobile) {
    height: var(--height-mobile);
  }
}

.wrapperInner {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  max-height: var(--hide-height-desktop-l);
  overflow: hidden;

  transition: max-height 500ms ease-in-out 600ms;

  @media (--desktop-m) {
    max-height: var(--hide-height-desktop-m);

    transition: max-height 500ms ease-in-out 600ms;
  }

  @media (--mobile-m) {
    display: block;
    max-height: none;

    transform: none;

    transition: none;
  }
}

.open .wrapperInner {
  max-height: 1000px;

  transition: max-height 500ms ease-in-out;
}

.wrapper {
  display: flex;
  justify-content: center;

  @media (--mobile-m) {
    display: block;
  }
}

.wrapper.open {
  transform: translate(0);

  transition: transform 350ms ease-in-out;

  @media (--mobile-m) {
    display: block;
    /*
    transition: none;
    */
  }
}

.wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 5;

  width: 100%;
  height: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;

  @media (--desktop) {
    transform: translateY(0);
  }
}

.open .layer {
  transform: translateY(100%);
  opacity: 1;
}

.layer:first-child {
  padding-top: 08.73%;

  background-image: url('layer_1.png');

  transition: bottom 800ms ease-in-out 550ms, opacity 700ms ease-in-out 550ms,
    transform 700ms ease-in-out 650ms;

  @media (--desktop-m) {
    top: auto;

    transition: bottom 800ms ease-in-out 550ms, opacity 700ms ease-in-out 550ms,
      transform 700ms ease-in-out 650ms;
  }

  @media (--desktop) {
    transition: bottom 800ms ease-in-out 550ms, opacity 700ms ease-in-out 550ms,
      transform 700ms ease-in-out 650ms;
  }

  @media (--mobile-m) {
    position: absolute;
    top: auto;

    transition: bottom 800ms ease-in-out 550ms, opacity 700ms ease-in-out 550ms,
      transform 700ms ease-in-out 650ms;
  }
}

.open .layer:first-child {
  bottom: 100%;

  transition: bottom 800ms ease-in-out, opacity 400ms ease-in-out 100ms,
    transform 700ms ease-in-out 100ms;

  @media (--desktop-m) {
    transition: bottom 800ms ease-in-out 100ms, opacity 400ms ease-in-out 100ms,
      transform 700ms ease-in-out 100ms;
  }

  @media (--desktop) {
    transition: bottom 800ms ease-in-out 100ms, opacity 400ms ease-in-out 100ms,
      transform 700ms ease-in-out 100ms;
  }

  @media (--mobile-m) {
    transition: bottom 800ms ease-in-out, opacity 400ms ease-in-out 100ms,
      transform 700ms ease-in-out 100ms;
  }
}

.layer:nth-child(2) {
  padding-top: 10%;

  background-image: url('layer_2.png');

  transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
    transform 550ms ease-in-out 450ms;

  @media (--desktop-m) {
  }

  @media (--desktop) {
    position: absolute;
  }

  @media (--mobile-m) {
    transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
      transform 550ms ease-in-out 450ms;
  }
}

.open .layer:nth-child(2) {
  bottom: 79%;

  transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
    transform 550ms ease-in-out 450ms;

  @media (--desktop-m) {
    bottom: 78.5%;

    transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
      transform 550ms ease-in-out 450ms;
  }

  @media (--desktop) {
    bottom: 77.5%;

    transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
      transform 550ms ease-in-out 450ms;
  }

  @media (--mobile-m) {
    bottom: 79.5%;
    bottom: 79%;

    transition: bottom 650ms ease-in-out 350ms, opacity 600ms ease-in-out 350ms,
      transform 550ms ease-in-out 450ms;
  }

  @media (--mobile) {
    bottom: 78%;
  }
}

.layer:nth-child(3) {
  position: absolute;
  bottom: 0;

  padding-top: 15.9%;

  background-image: url('layer_3.png');

  transition: bottom 650ms ease-in-out, opacity 550ms ease-in-out, transform 550ms ease-in-out 100ms;

  @media (--desktop-m) {
    transition: bottom 650ms ease-in-out, opacity 550ms ease-in-out,
      transform 550ms ease-in-out 100ms;
  }

  @media (--desktop) {
    transition: bottom 650ms ease-in-out, opacity 550ms ease-in-out,
      transform 550ms ease-in-out 100ms;
  }

  @media (--mobile-m) {
    transition: bottom 650ms ease-in-out, opacity 550ms ease-in-out,
      transform 550ms ease-in-out 100ms;
  }
}

.open .layer:nth-child(3) {
  bottom: 56.5%;

  transition: bottom 650ms ease-in-out 550ms, opacity 550ms ease-in-out 550ms,
    transform 550ms ease-in-out 650ms;

  @media (--desktop-m) {
    bottom: 55.5%;

    transition: bottom 650ms ease-in-out 550ms, opacity 550ms ease-in-out 550ms,
      transform 550ms ease-in-out 650ms;
  }

  @media (--desktop) {
    bottom: 54%;

    transition: bottom 650ms ease-in-out 550ms, opacity 550ms ease-in-out 550ms,
      transform 550ms ease-in-out 650ms;
  }

  @media (--mobile-m) {
    bottom: 57.5%;
    bottom: 56.5%;
  }

  @media (--mobile) {
    bottom: 54%;
  }
}

.layer:nth-child(4) {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 2;

  padding-top: 22.14%;

  background-image: url('layer_4.png');
  transform: translateX(0) !important;
  opacity: 1;

  transition: top 500ms ease-in-out;
  transition: transform 350ms ease-in-out 200ms, opacity 300ms ease-in-out 300ms;

  @media (--mobile-m) {
    transition: transform 350ms ease-in-out 200ms, opacity 300ms ease-in-out 300ms;
  }
}

.open .layer:nth-child(4) {
  transition: top 500ms ease-in-out;
}

.descriptionItem {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 60px;
  padding-left: 30px;

  opacity: 0;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: 5px;

    background: #1f2354;

    content: '';
  }

  @media (--desktop-m) {
    margin-bottom: 40px;
  }

  @media (--mobile-m) {
    transform: none !important;
    opacity: 1;
  }
}

.descriptionItem:first-child {
  transform: translateY(400px);

  transition: transform 500ms ease-in-out 450ms, opacity 500ms ease-in-out 600ms;
}

.open .descriptionItem:first-child {
  transform: translateY(0);
  opacity: 1;

  transition: transform 500ms ease-in-out 500ms, opacity 300ms ease-in-out 510ms;
}

.descriptionItem:nth-child(2) {
  transform: translateY(264px);

  transition: transform 350ms ease-in-out 200ms, opacity 300ms ease-in-out 300ms;
}

.open .descriptionItem:nth-child(2) {
  transform: translateY(0);
  opacity: 1;

  transition: transform 350ms ease-in-out 800ms, opacity 300ms ease-in-out 810ms;
}

.descriptionItem:nth-child(3) {
  transform: translateY(128px);

  transition: transform 350ms ease-in-out, opacity 150ms ease-in-out 150ms;
}

.open .descriptionItem:nth-child(3) {
  transform: translateY(0);
  opacity: 1;

  transition: transform 350ms ease-in-out 900ms, opacity 250ms ease-in-out 910ms;
}

.descriptionItem:nth-child(4) {
  transform: translateY(78px);

  transition: transform 350ms ease-in-out, opacity 250ms ease-in-out;
}

.open .descriptionItem:nth-child(4) {
  transform: translateY(0);
  opacity: 1;

  transition: transform 350ms ease-in-out 1200ms, opacity 250ms ease-in-out 1210ms;
}

.descriptionItem:last-child {
  margin-bottom: 0;
}

.title {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.text {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
