.position {
  background-color: var(--color-white);

  &.withWarning {
    .wrapperRelated {
      border-top: none;
    }
  }
}

.wrapperProduct {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: var(--space-xxl);
}

.wrapperOptions {
  display: flex;
  align-items: flex-end;
}

.options {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.quantity {
  width: 100px;
  margin-right: var(--space-l);
}

.wrapperPrice {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.priceLabel {
  composes: xs from 'sizes';
}

.price {
  composes: l from 'sizes';

  font-weight: 500;
}

.remove {
  position: absolute;
  top: var(--space-xxl);
  right: var(--space-xxl);
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs) 0;

  color: var(--color-grafit);

  border-top: 1px dashed var(--color-medium-gray);
  border-bottom: 1px dashed var(--color-medium-gray);

  &:before {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: var(--space-s);

    background-image: url('./iconWarning.svg');
    background-repeat: no-repeat;
    background-size: contain;

    content: '';
  }
}

.wrapperRelated {
  padding: var(--space-xl) 0 var(--space-xb);

  border-top: 1px dashed var(--color-medium-gray);
}

@media (--desktop) {
  .wrapperProduct {
    flex-direction: column;
    padding: var(--space-n);
  }

  .wrapperOptions {
    margin-top: var(--space-s);
    margin-left: calc(150px + var(--space-n));
  }

  .wrapperRelated {
    padding-bottom: var(--space-xxl);
  }

  .remove {
    top: var(--space-n);
    right: var(--space-n);
  }
}

@media (--mobile-m) {
  .wrapperProduct {
    padding: var(--space-n) var(--space-s);
  }

  .wrapperOptions {
    margin-left: calc(180px + var(--space-n));
  }

  .remove {
    top: var(--space-n);
    right: var(--space-s);
  }
}

@media (--mobile) {
  .wrapperOptions {
    margin-left: 0;
  }

  .options {
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
  }
}
