.discount {
  composes: s from 'sizes';
  composes: darkGray from 'colors';

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 22px;

  background-image: url('./icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  transform: translateX(var(--space-xxs));
}
