.sectionWrapper {
  margin-bottom: var(--space-xxe);

  overflow: hidden;
}

.wrapper {
  width: 100%;
}

.gallery {
  margin: 0 var(--space-s-neg);
}

.galleryContainer {
  composes: main from 'containers';

  margin-top: var(--space-l);
}

.slide {
  box-sizing: content-box;
  width: 422px;
  padding: 0 var(--space-s);

  vertical-align: top;
}

.track {
  margin-top: var(--space-l);
}

.btnWrapper {
  margin-top: 50px;
}

.moreLink {
  display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}

.btn {
  width: 100%;
}

@media (--desktop-m) {
  .sectionWrapper {
    margin-bottom: var(--space-e);
  }

  .slide {
    width: 400px;
  }

  .moreLink {
    max-width: 252px;
  }
}

@media (--desktop) {
  .sectionWrapper {
    margin-bottom: var(--space-xb);
  }

  .gallery {
    margin: 0 var(--space-xs-neg);
  }

  .slide {
    width: 300px;

    padding: 0 var(--space-xs);
  }
}
