.orderTextileSamplesBlock {
  box-sizing: border-box;
  padding: var(--space-xb) 0;

  background: #d8f1f1;
}

.wrapperLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-s);

  cursor: pointer;
}

.orderTextileTitle {
  font-weight: 500;
  font-size: var(--size-l);
  line-height: var(--lh-m);
  text-align: center;
}

.iconArrow {
  width: 13px;
  height: 13px;
  margin-left: var(--space-xxs);

  background-image: url('./iconArrow.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotate(-180deg);

  transition: transform 0.2s;
}

.iconArrow.collapsed {
  transform: rotate(0);
}

.content {
  padding: 0 var(--space-s);
  padding-top: var(--space-l);
}

.wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1176px;
  margin: 0 auto;
  margin-top: var(--space-xb);
}

.orderRulesItem {
  flex-direction: column;
  max-width: 213px;

  text-align: center;
}

.iconRight {
  position: relative;
  bottom: 30px;

  width: 15px;
  height: 10px;

  background-image: url('./rightArrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (--desktop-m) {
  .wrapper {
    max-width: 1080px;
  }
}

@media (--desktop) {
  .orderTextileSamplesBlock {
    padding: var(--space-xxl) 0;
  }

  .wrapper {
    max-width: 944px;
    margin-top: var(--space-l);
  }

  .orderRulesItem {
    max-width: 179px;
  }
}

@media (--mobile-m) {
  .wrapper {
    justify-content: center;
    margin-top: 0;

    & :last-child {
      font-size: var(--size-s);
      line-height: var(--lh-s);
    }
  }

  .orderRulesItem {
    flex-direction: row;
    align-items: center;
    max-width: 290px;
    margin-top: var(--space-l);

    text-align: left;
  }

  .iconRight {
    margin: 0 var(--space-xl);

    &:nth-child(4) {
      display: none;
    }
  }
}

@media (--mobile) {
  .orderTextileTitle {
    margin-right: var(--space-n);

    text-align: start;
  }

  .iconRight {
    display: none;
  }

  .wrapper {
    flex-direction: column;
    flex-wrap: no-wrap;

    & :last-child {
      margin-bottom: 0;
    }
  }

  .orderRulesItem {
    max-width: 100%;
  }
}
