.subcategories {
  --gap: var(--space-xb);

  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--gap);
}

.subcategory {
  composes: black from 'colors';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcategoryIcon {
  display: flex;
  align-items: flex-end;
  height: 73px;
}

.subcategoryTitle {
  composes: n from 'sizes';
  margin-top: var(--space-n);
  white-space: nowrap;
}

@media (--desktop) {
  .subcategories {
    --gap: var(--space-xxl);
  }
}
