.subcategories {
  --gap: var(--space-xb);
  --gap-half: calc(var(--gap) / 2);
  --gap-half-neg: calc(var(--gap-half) * -1);

  display: flex;
  justify-content: center;
  margin: 0 var(--gap-half-neg);
}

.subcategory {
  padding: 0 var(--gap-half);
}

.link {
  composes: black from 'colors';

  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcategoryIcon {
  display: flex;
  align-items: flex-end;
  height: 73px;
}

.subcategoryTitle {
  composes: n from 'sizes';

  margin-top: var(--space-n);

  white-space: nowrap;
}

@media (--desktop) {
  .subcategories {
    --gap: var(--space-xxl);
  }
}
