.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 var(--space-xxs-neg) var(--space-xs-neg);

  &.inversed {
    .button.selected {
      background-color: var(--color-white);
      border-color: var(--color-white);
    }
  }

  &.scrollable {
    display: block;

    white-space: nowrap;

    .item {
      margin-bottom: 0;
    }
  }
}

.item {
  display: inline-block;
  margin-bottom: var(--space-xs);
  padding: 0 var(--space-xxs);
}

.button {
  position: relative;

  display: inline-flex;
  justify-content: center;
  padding: var(--space-xs) var(--space-n);

  font-family: var(--font-main);
  white-space: nowrap;

  background-color: transparent;
  border: 1px solid var(--color-medium-gray);
  border-radius: 45px;
  outline: 0;
  cursor: pointer;

  transition: all 0.2s;

  &:last-child {
    margin-right: 0;
  }

  &.selected {
    font-weight: 500;

    background-color: var(--color-light-gray);
    border-color: var(--color-light-gray);
  }
}

.boldText {
  font-weight: 500;

  opacity: 0;

  user-select: none;
}

.text {
  position: absolute;
}

.galleryViewport {
  overflow: visible;
}
