.logotype {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  width: 117px;
  height: 30px;
  overflow: hidden;

  &.isRoller {
    .roller {
      transition: background-position 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.roller {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 78px;
  height: 30px;

  background-repeat: repeat-y;
  background-size: 78px 320px;
}

.icon {
  flex-shrink: 0;
  width: 36px;
  height: 18px;
  margin-left: 3px;

  transform: translateY(-2px);
}
