.conditionsToBuyInCredit {
  font-size: 18px;
  line-height: 27px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.condition {
  display: flex;
  align-items: center;
  width: 30%;
  max-width: 305px;
}

.icon {
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon.card {
  width: 60px;

  background-image: url('./sberCard.svg');
}

.icon.online {
  width: 74px;

  background-image: url('./sberOnline.svg');
}

.icon.passport {
  width: 39px;

  background-image: url('./passport.svg');
}

.text {
  margin-left: 25px;
}
