.group {
  margin-bottom: var(--space-b);

  border-bottom: 1px solid var(--color-light-gray);

  &:last-child {
    margin-bottom: 0;

    border-bottom: 0;
  }
}

.footerAdditional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-l);
}

.count {
  composes: darkGray from 'colors';
}

.reset {
  white-space: nowrap;
}
