.fabrics {
  display: flex;
  align-items: center;
}

.fabrics.sizeS {
  .fabric {
    width: 12px;
    height: 12px;
    margin-right: var(--space-xs);

    &:last-child {
      margin-right: 0;
    }

    &.selected:before {
      top: -3px;
      left: -3px;

      width: 18px;
      height: 18px;
    }
  }
}

.fabrics.sizeM {
  .fabric {
    width: 25px;
    height: 25px;
    margin-right: var(--space-n);

    &:last-child {
      margin-right: 0;
    }

    &.selected:before {
      top: -5px;
      left: -5px;

      width: 35px;
      height: 35px;
    }
  }
}

.fabric {
  position: relative;

  background-size: cover;
  border-radius: 50%;
  cursor: pointer;

  &.selected:before {
    position: absolute;

    display: block;
    box-sizing: border-box;

    border: 1px solid var(--color-dark-gray);
    border-radius: 50%;

    content: '';
  }
}
