.map {
  flex-grow: 1;
  width: 100%;
  height: 544px;
  overflow: hidden;
}

.variants {
  display: flex;
  margin-top: var(--space-m);
}

.variant {
  margin-right: var(--space-xb);

  &:last-child {
    margin-right: 0;
  }
}

.map {
  height: 323px;
  margin-top: var(--space-xxl);
}

@media (--mobile) {
  .variants {
    display: block;
  }

  .map {
    width: calc(100vw - var(--space-s));
    height: 380px;
    margin-right: var(--space-s-neg);
    margin-left: var(--space-s-neg);
  }
}
