.sizes {
  font-size: 16px;
  line-height: 24px;
}

.item {
  position: relative;

  display: inline-block;
  padding-right: 25px;

  vertical-align: top;

  &::after {
    position: absolute;
    top: 0;
    right: 10px;

    display: block;

    content: 'x';
  }

  &:last-child {
    padding-right: 0;

    &::after {
      content: none;
    }
  }
}
