.productCard {
}

.productCard.hasExpired .actualPrice {
  color: var(--color-red);
}

.containerImage {
  position: relative;
  padding: var(--space-l);
  background-color: var(--color-light-gray);
  border-radius: 5px;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
}

.like {
  position: absolute;
  z-index: 2;
  top: var(--space-n);
  right: var(--space-n);
}

.info {
  margin-top: var(--space-n);
}

.price {
  display: flex;
  align-items: baseline;
}

.actualPrice {
  composes: m from 'sizes';
  font-weight: 500;
  margin-left: var(--space-xxs);
}

.expiredPrice {
  margin-left: var(--space-xs);
}

.discount {
  margin-left: var(--space-xs);
}

.tags {
  position: absolute;
  right: var(--space-s);
  bottom: var(--space-s);
  display: flex;
  justify-content: flex-end;
}

.tag {
  margin-right: var(--space-xs);

  &:last-child {
    margin-right: 0;
  }
}
