.tabs {
  margin-bottom: var(--space-xxl);
}

.numbers {
  margin-top: var(--space-xxl);
}

.variants {
  margin-top: var(--space-xl);
}

.description {
  composes: s from 'sizes';

  margin-top: var(--space-l);
}

.hint {
  composes: xs from 'sizes';

  margin-top: var(--space-s);

  color: var(--color-dark-gray);
}

.button {
  margin-top: var(--space-xxl);
}

.price {
  margin-left: var(--space-xxs);
}

@media (--desktop) {
  .container {
    padding: var(--space-xxl);
  }

  .title {
    font-size: var(--size-xl);
    line-height: var(--lh-xl);
  }
}

@media (--mobile) {
  .container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: var(--space-n) var(--space-s) var(--space-l);
  }

  .title {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }
}
