.wrapper {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto var(--space-xxe) auto;
}

.content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: calc((100% - var(--space-xxe)) * 0.4514);
  margin-right: var(--space-xxe);
}

.title {
  margin: 0 0 var(--space-e) 0;

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-b);
  font-family: var(--font-hero);
  font-style: normal;
  line-height: var(--lh-b);
}

.subTitle {
  margin: 0 0 var(--space-xs) 0;

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-l);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

.description {
  margin: 0 0 var(--space-xb) 0;

  color: var(--color-black);
  font-weight: normal;
  font-size: var(--size-m);
  font-family: var(--font-main);
  font-style: normal;
  line-height: 150%;
}

.img {
  width: calc((100% - var(--space-xxe)) * 0.5804);
  max-width: 801px;

  transform: translateX(44px);
}
.button {
  align-self: flex-start;
  min-width: 420px;
}

.breakLineWrapper {
  composes: main from 'containers';

  height: 40px;
  margin: 0 auto;
}

.breakLine {
  height: 1px;
  margin: 0 auto var(--space-xxl) auto;

  background: var(--color-medium-gray);
}

@media (--desktop-m) {
  .wrapper {
    margin: 0 0 var(--space-e) 0;
  }

  .content {
    padding: 0 0 var(--space-xxl);
  }

  .textWrapper {
    width: calc((100% - var(--space-e)) * 0.3935);
    margin-right: 80px;
  }

  .title {
    margin: 0 0 var(--space-xb) 0;

    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  .description {
    margin: 0 0 var(--space-xxl) 0;

    font-size: var(--size-n);
    line-height: 150%;
  }

  .img {
    width: calc((100% - var(--space-e)) * 0.6065);

    transform: translateX(0);
  }

  .button {
    min-width: 240px;
  }
}

@media (--desktop) {
  .wrapper {
    margin-bottom: var(--space-xb);
  }

  .content {
    margin-bottom: var(--space-xxl);
    padding: 0;
  }

  .img {
    width: calc((100% - var(--space-xxl)) * 0.6018);
  }

  .textWrapper {
    width: calc((100% - var(--space-xxl)) * 0.3882);
    margin-right: var(--space-xxl);
  }

  .title {
    margin: 0 0 var(--space-xxl) 0;

    font-size: var(--size-xl);
    line-height: 150%;
  }

  .description {
    margin: 0 0 var(--space-l) 0;
  }
}

@media (--mobile-m) {
  .wrapper {
    width: 100%;
    margin-bottom: var(--space-e);
  }

  .content {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .title {
    margin: 0 0 var(--space-xb) 0;

    font-size: var(--size-l);
    line-height: 120%;
  }

  .img {
    align-self: center;
    width: 556px;
    margin: 0 0 var(--space-xxl) 0;
  }

  .subTitle {
    align-self: flex-start;

    font-size: var(--size-m);
    line-height: 150%;
  }

  .description {
    font-size: var(--size-s);
    line-height: 150%;
  }

  .button {
    align-self: center;
  }
}

@media (--mobile) {
  .title {
    margin: 0 0 var(--space-xxl) 0;
  }

  .img {
    width: 100%;
  }
}
