.wrapper {
}

.title {
  margin: 0;

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--size-xxl);
  font-family: var(--font-hero);
  line-height: var(--lh-xxl);
  text-align: left;

  @media (--desktop) {
    font-size: var(--size-xl);
    line-height: 150%;
  }

  @media (--mobile) {
    font-size: var(--size-l);
    line-height: 26px;
  }
}
