.siteNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    display: block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media (--only-desktop) {
      margin-right: 40px;
    }
  }
}

.link {
  display: block;

  font-size: var(--size-n);
  line-height: 150%;

  &.active {
    color: var(--color-black);

    &:before {
      width: 100%;
    }
  }
}
