.heading {
  margin: 0;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);

  font-weight: 500;
  font-size: var(--size-xb);
  line-height: var(--size-xb);
  text-align: center;
}

.teaserWrapper {
  margin-bottom: var(--space-xxe);
  padding-right: var(--space-xxb);
  padding-left: var(--space-xxb);
}

.teaser {
  font-size: var(--size-m);
  line-height: var(--lh-m);
}

.subheading {
  margin: 0;

  font-weight: 500;
  font-size: var(--size-b);
  line-height: var(--lh-b);
  text-align: center;
}

.arrows {
  margin-bottom: var(--space-l);
}

.wrapperGallery {
  padding-left: var(--space-xxb);
  overflow: hidden;
}

.progressBar {
  margin-top: var(--space-l);
}

.galleryImage {
  width: 752px;
  height: 752px;
  margin-right: var(--space-l);
  padding-bottom: 6%;

  background-position: bottom;
  background-size: contain;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--space-b);
  margin-bottom: var(--space-xxe);
}

.button {
  width: 260px;
}

@media (--desktop-m) {
  .heading {
    font-size: var(--size-b);
    line-height: var(--lh-b);
  }

  .teaserWrapper {
    margin-bottom: var(--space-e);
    padding-right: var(--space-xxl);
    padding-left: var(--space-xxl);
  }

  .subheading {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  .wrapperGallery {
    padding-left: var(--space-xxl);
  }

  .buttonWrapper {
    margin-bottom: var(--space-e);
  }
}

@media (--desktop) {
  .heading {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  .teaserWrapper {
    margin-bottom: var(--space-xb);
  }

  .teaser {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }

  .subheading {
    font-size: var(--size-xl);
    line-height: var(--lh-xxl);
  }

  .buttonWrapper {
    margin-top: var(--space-xxb);
    margin-bottom: var(--space-xb);
  }
}

@media (--mobile-m) {
  .heading {
    padding-top: var(--space-n);
    padding-bottom: var(--space-n);

    font-size: var(--size-xl);
    line-height: var(--lh-xxl);
  }

  .teaserWrapper {
    padding-right: var(--space-s);
    padding-left: var(--space-s);
  }

  .subheading {
    font-size: var(--size-l);
    line-height: var(--lh-xm);
  }

  .wrapperGallery {
    padding-top: var(--space-xxl);
    padding-left: var(--space-s);
  }

  .arrows {
    display: none;
  }

  .buttonWrapper {
    margin-top: var(--space-b);
  }
}
