.pageTitle {
}

.title {
  max-width: 1780px;
  margin: 0 auto;
  padding: var(--space-xl) 0px;

  font-weight: 500;
  font-size: var(--size-xb);
  line-height: var(--lh-xb);
  text-align: center;

  border-bottom: 1px solid var(--color-medium-gray);
}

@media (--desktop-m) {
  .title {
    max-width: 1900px;
    margin: 0 var(--space-xxl);

    font-size: var(--size-b);
    line-height: var(--lh-b);
  }
}

@media (--desktop) {
  .title {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }
}

@media (--mobile-m) {
  .title {
    margin: 0 var(--space-s);
    padding: var(--space-n) 0px;

    font-size: var(--size-xl);
    line-height: var(--lh-xxl);
  }
}

@media (--mobile) {
  .title {
    margin: 0;
  }
}
