.suburb {
}

.title {
  composes: m from 'sizes';
}

.table {
  display: table;
  width: 60%;
  margin-top: var(--space-l);

  border: 1px solid var(--color-medium-gray);
}

.tr {
  display: table-row;

  &:first-child {
    .td {
      border-top: none;
    }
  }
}

.td {
  display: table-cell;
  padding: var(--space-m);

  vertical-align: middle;

  border-top: 1px solid var(--color-medium-gray);
  border-left: 1px solid var(--color-medium-gray);

  &:first-child {
    border-left: none;
  }
}

@media (--mobile-m) {
  .td {
    padding: var(--space-s);
  }
}

@media (--mobile) {
  .table {
    width: 100%;
  }
}
