.categoryFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--space-xs);
}

.count {
  composes: darkGray from 'colors';

  margin-left: var(--space-l);
}

.iconFilters {
  width: 18px;
  height: 14px;

  background-image: url('./filters.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (--mobile-m) {
  .button.secondary {
    display: none;
  }
}

@media (--mobile) {
  .categoryFilters {
    display: block;
  }

  .groups {
    margin-top: var(--space-n);
  }
}
