.banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main {
  padding-right: var(--space-xb);
}

.title {
  font-weight: 500;
  font-size: var(--size-xxl);
  line-height: var(--lh-xxl);
}

.textContainer {
  margin-top: var(--space-m);
}

.text {
  composes: n from 'sizes';
}

.image {
  flex-basis: 314px;
  flex-grow: 0;
  flex-shrink: 0;

  &:before {
    display: block;
    padding: 0 0 43.9490445859873%;

    content: '';
  }
}
