.container {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  @media (--only-desktop) {
    padding: 0 var(--space-xxb);
  }

  @media (--only-mobile) {
    padding: 0 var(--space-xxl);
  }

  @media (--mobile-m) {
    padding: 0 var(--space-s);
  }
}
