.section {
  overflow: hidden;
}

.wrapperGallery {
  composes: main from 'containers';
}

.gallery {
  margin-top: var(--space-l);
}

.galleryViewport {
  overflow: visible;
}

@media (--mobile) {
  .navArrows {
    display: flex;
    justify-content: flex-end;
  }
}
