.page {
  --gap: var(--space-xb);
}

.topText {
  margin-top: calc(var(--gap) + 20px);

  font-size: var(--size-n);
  line-height: var(--lh-n);
}

.bankBanner {
  margin-top: var(--gap);
}

.creditWithoutOverpayment {
  margin-top: var(--gap);
}

.devider {
  margin-top: var(--gap);
}

.conditionsToBuyInCredit {
  margin-top: var(--gap);
}

.howBuyInCredit {
  margin-top: var(--gap);
}

.halva {
  margin-top: var(--gap);
  margin-bottom: var(--space-e);
}

.cardsPartners {
  margin-top: var(--gap);
}

@media (--desktop-m) {
  .topText {
    margin-top: var(--gap);
  }
}

@media (--desktop) {
  .halva {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
  }
}
