.popup {
  left: 0;

  width: fit-content;
  padding: var(--space-xl) var(--space-n) var(--space-n);

  transform: none;
}

.container {
  display: flex;
  width: max-content;
  max-width: 720px;
}

.iconClose {
  position: absolute;
  top: var(--space-n);
  right: var(--space-n);
}

.img {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 300px;
  padding-bottom: 24.445%;

  background-position: center;
  background-size: contain;
}

.content {
  flex-grow: 1;
  max-width: 340px;
  margin-left: var(--space-n);
}

.title {
  composes: m from 'sizes';

  margin-bottom: var(--space-n);

  font-weight: bold;
}

.text {
  composes: s from 'sizes';
}

@media (--mobile-m) {
  .container {
    flex-direction: column;
    max-width: 320px;
  }

  .img {
    width: 100%;
    padding-bottom: 55%;
  }

  .content {
    margin-top: var(--space-n);
    margin-left: 0;
  }
}
