.cylindoRotateHint {
  display: flex;
  align-items: center;

  font-size: var(--size-xs);
}

.text {
  font-size: var(--size-xs);
  line-height: var(--lh-xs);
}

.arrowPrev {
  width: 16px;
  height: 11px;
  margin-right: var(--space-xs);

  background-image: url('./left.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.arrowNext {
  width: 16px;
  height: 11px;
  margin-left: var(--space-xs);

  background-image: url('./right.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
