.delivery {
}

.hint {
  composes: xs from 'sizes';

  margin-top: var(--space-s);

  color: var(--color-dark-gray);
}

.price {
  composes: xl from 'sizes';

  display: inline-block;
  margin-top: var(--space-n);

  font-weight: 500;
}
