.wrapper {
  display: grid;
  grid-row-gap: var(--space-xxb);
  grid-template-rows: 1fr;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (--desktop-m) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xb);
    align-items: start;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (--desktop) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: var(--space-xxl);
    margin-top: var(--space-xb);
    margin-bottom: var(--space-xb);
  }
}

@media (--mobile-m) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: none;
  }
}

@media (--mobile) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
