.enterActive {
  .container {
    opacity: 1;
  }
}

.enterDone {
  .container {
    overflow: auto;

    opacity: 1;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;

  transition: opacity 0.4s ease-in-out;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - var(--space-xxl) * 2);
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

.content {
  overflow: hidden;
}

@media (--mobile) {
  .enterActive {
    .wrapper {
      transform: translate3d(0, 0, 0);
    }
  }

  .enterDone {
    .wrapper {
      transform: translate3d(0, 0, 0);
    }
  }

  .wrapper {
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    transform: translate3d(0, 100%, 0);

    transition: transform 0.4s ease-in-out;
  }

  .content {
    flex-grow: 1;
  }
}
