.gallery {
  position: relative;

  height: 100%;

  font-size: 0;
  line-height: 0;

  &.canDrag {
    .layer {
      cursor: grab;
    }
  }

  &.centered {
    text-align: center;

    .child {
      text-align: left;
    }
  }
}

.layer {
  min-width: 100%;
  height: 100%;

  white-space: nowrap;
}

.slide {
  display: inline-block;
  height: 100%;

  font-size: var(--size-n);
  line-height: var(--lh-n);

  white-space: normal;
}
