.productCard {
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
}

.productInformation {
  display: flex;
}

.image {
  width: 232px;
}

.contentContainer {
  flex-grow: 1;
  margin-left: 30px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 29px; */
  margin-bottom: 15px;
  /* padding-right: 60px; */
}

.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

/* .headInfo {
  display: none;
  align-items: center;
} */

.params {
  overflow: hidden;
}

.group {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.groupTitle {
  margin-bottom: 5px;
}

.materials {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -5px; */
}

.material {
  /* margin-top: 10px;
  margin-right: 10px; */
}

.priceBlock {
  display: flex;
  margin-left: 10px;
}

.count {
  margin-right: 60px;

  font-size: 18px;
  line-height: 27px;
}

.price {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

@media (--desktop) {
  .PageOrderStatusProductCard {
    &-Image {
      width: 105px;
    }

    &-Footer {
      margin: 0 15px;
      padding-right: calc(43px + 15px);
    }
  }
}

@media (--mobile) {
  .PageOrderStatusProductCard {
    &-Head {
      display: block;
      height: auto;
    }

    &-HeadInfo {
      margin-top: 5px;
    }

    &-Footer {
      display: block;
      padding-right: 0;
      padding-left: 80px;
    }

    &-FooterCounts {
      margin-top: 5px;
    }
  }
}
