.section {
  padding: var(--space-xb) 0;
}

.title {
  composes: xxl from 'sizes';

  margin: 0 0 var(--space-xl) 0;

  font-weight: 500;

  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: var(--space-l-neg);
}

.subcategory {
  display: flex;
  justify-content: center;

  margin: var(--space-l);
}

.link {
  display: block;
  width: 100%;
}

.subcategoryIcon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 0 auto var(--space-n);

  background-position: bottom 0 left 50%;
}

.subcategoryTitle {
  color: var(--color-black);
  font-size: var(--size-n);
  text-align: center;
}

@media (--desktop) {
  .section {
    padding: var(--space-xxl) 0;
  }

  .title {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }

  .list {
    margin: var(--space-n-neg);
  }

  .subcategory {
    margin: var(--space-n);
  }
}

@media (--mobile) {
  .list {
    align-items: stretch;
    justify-content: space-between;
    margin: var(--space-s-neg);
  }

  .subcategory {
    width: calc((100% - var(--space-xb)) / 2);
    margin: var(--space-s);
  }
}
