.thumbnails {
  position: relative;

  width: 750px;
  margin: 0 auto;

  text-align: left;

  opacity: 0;

  transition: all var(--animation-duration-fast) ease-in-out;
}

.nav {
  opacity: 0;

  transition: opacity var(--animation-duration-fast) ease-in-out;
}

.thumbnails:hover .nav {
  opacity: 1;
}

.list {
  position: relative;
  z-index: 1;

  font-size: 0;

  transition: all 0.3s ease-in-out;
}

.thumbnailsItem {
  width: 92px;
  height: 55px;
  padding: 0 var(--space-2xs);
}

.thumbnailsItem_size_s {
  width: 86px;
  height: 72px;
}

.container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 var(--space-2xs-neg);
  overflow: hidden;
}

.thumbnails_outside {
  width: 100%;
  margin-top: var(--space-m);

  opacity: 1;
}

.thumbnails_outside .container {
  position: static;
}

.thumbnails_outside .thumbnailsItem {
  width: 123px;
  height: 75px;
}

.thumbnails_outside .thumbnailsItem_size_s {
  width: 86px;
  height: 72px;
}

.thumbnails_outside .thumbnailsItem_size_m {
  width: 92px;
  height: 55px;
}
