.page {
}

.mainContainer {
  composes: main from 'containers';

  margin-bottom: var(--space-e);
}

.contentContainer {
  composes: content from 'containers';

  &.row {
    margin-top: var(--space-e);
  }
}

.breadcrumbs {
  margin-bottom: var(--space-xl);
}

.title {
  font-weight: 500;
  font-size: var(--size-xb);
  line-height: var(--lh-xb);
  text-align: center;
}

.wrapperTop {
  margin-bottom: var(--space-m);
  padding-bottom: var(--space-xl);

  border-bottom: 1px solid var(--color-medium-gray);
}

.teaser {
  composes: m from 'sizes';

  margin-top: var(--space-xb);
}

.freeDelivery {
  margin-top: var(--space-xb);
}

.contrastRow {
  margin-top: var(--space-e);
  padding: var(--space-xb) 0 var(--space-xxb);

  background: var(--color-light-gray);
}

.heading {
  font-weight: 500;
  font-size: var(--size-xxl);
  line-height: var(--lh-xxl);
}

.tabsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-xb);
}

.tableWrapper {
  display: none;

  &.active {
    display: block;
  }
}

.additionalCost {
  margin-top: var(--space-xb);
}

.paragraph {
  margin-top: var(--space-m);

  &:first-child {
    margin-top: 0;
  }
}

.rules {
  margin-top: var(--space-xb);
}

.rulesText {
  margin-top: var(--space-m);
}

.wrapperList {
  margin-top: var(--space-m);
}

.attention {
  margin-top: var(--space-m);
}

.bottomInfo {
  composes: main from 'containers';

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: var(--space-e);

  background: var(--color-light-gray);
}

.subtitle {
  margin-bottom: var(--space-xs);

  font-weight: 500;
  font-size: var(--size-xl);
  line-height: var(--lh-xl);
}

.textBlock {
  margin-bottom: var(--space-xs);
}

.moreLink {
  composes: n from 'sizes';

  display: inline-block;

  vertical-align: baseline;
}

.carImage {
  width: 269px;

  &:before {
    display: block;
    padding: 0 0 38.2899628252788%;

    content: '';
  }
}

.bottomInfoContainer {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

.importantInfo {
  margin-top: var(--space-xb);
}

.upliftFirstFloor {
  composes: m from 'sizes';

  margin-top: var(--space-xb);
}

@media (--desktop-m) {
  .title {
    font-size: var(--size-b);
    line-height: var(--lh-b);
  }
}

@media (--desktop) {
  .title {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  .bottomInfoContainer {
    max-width: 470px;
  }

  .mainContainer {
    margin-bottom: var(--space-xb);
  }

  .heading {
    font-size: var(--size-xl);
    line-height: var(--lh-xl);
  }
}

@media (--mobile-m) {
  .title {
    font-size: var(--size-xl);
    line-height: var(--lh-xl);
  }

  .heading {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }
}
