.filters {
}

.actions {
  display: flex;
  align-items: center;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--space-xs);
}

.selectedFilters {
  margin-top: 20px;

  color: var(--color-dark-gray);
  font-size: 12px;
  line-height: 18px;
}
