.title {
  margin: 0 0 15px;

  font-weight: 500;
  font-size: var(--size-m);
  line-height: 23px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  display: block;
  padding: 5px 0;

  color: var(--color-black);
  font-size: var(--size-n);
  line-height: 150%;

  &:hover {
    font-weight: 500;
  }
}
