.wrapper {
  box-sizing: border-box;
  padding: var(--space-xxe) 0;

  background: var(--color-light-gray);
}

.featuresWrapper {
  max-width: 1920px;
  margin: 0 auto;
}

@media (--desktop-m) {
  .wrapper {
    padding: var(--space-e) 0;
  }
}

@media (--desktop) {
  .wrapper {
    padding: var(--space-xb) 0;
  }
}
