.productModel {
  display: flex;
  justify-content: space-between;
}

.icon360Wrapper {
  margin-right: var(--space-xs);
}

.view360 {
  width: 60px;
  height: 60px;

  background-image: url('./360.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapperCylindo {
  position: relative;

  display: none;
  width: 100%;
}

.wrapperCylindo.loaded {
  display: block;
}

.wrapperCylindo.zoomed {
  .wrapperRotateHint {
    opacity: 0;
  }
}

.specialButton {
  display: flex;
}

.wrapperRotateHint {
  color: var(--color-dark-gray);
}

.cylindoViewer {
  height: inherit;
}

.wrapperRotateHint {
  position: absolute;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  width: 100%;

  opacity: 1;

  transition: opacity 0.5s;
}

.wrapperRotateHint.hide {
  opacity: 0;
}

.loading.loaded {
  display: none;
}

.buttonsPanel {
  margin-left: var(--space-xs);
}

@media (--desktop) {
  .view360 {
    width: 40px;
    height: 40px;
  }
}
