.blockWrapper {
  position: relative;
}

.icon360Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.view360 {
  width: 60px;
  height: 60px;

  background-image: url('./360.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.buttonsPanel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.content {
  display: flex;
  justify-content: center;
}

.wrapperCylindo {
  position: relative;

  display: none;
  width: 100%;
  padding-bottom: 57.2%;
}

.wrapperCylindo.loaded {
  display: block;
}

.wrapperCylindo.zoomed {
  .wrapperRotateHint {
    opacity: 0;
  }
}

.cylindoViewer {
  /* Нужно чтобы переопределить стили Cylindo для правильного позиционирования */
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
}

.wrapperRotateHint {
  position: absolute;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  width: 100%;

  color: var(--color-dark-gray);

  opacity: 1;

  transition: opacity 0.5s;
}

.wrapperRotateHint.hide {
  opacity: 0;
}

.loading.loaded {
  display: none;
}

@media (--desktop-m) {
  .wrapperCylindo {
    padding-bottom: 55.6%;
  }
}

@media (--desktop) {
  .view360 {
    width: 40px;
    height: 40px;
  }

  .wrapperCylindo {
    padding-bottom: 62%;
  }
}

@media (--mobile) {
  .wrapperCylindo {
    padding-bottom: 80.5%;
  }
}
