.sectionWrapper {
  margin-bottom: var(--space-xxe);

  overflow: hidden;
}

.wrapper {
  width: 100%;
}

.gallery {
  margin: 0 calc(var(--space-s) / -2);
}

.galleryContainer {
  composes: main from 'containers';

  margin-top: var(--space-l);
}

.slide {
  box-sizing: content-box;
  width: 573px;
  height: 780px;
  padding: 0 var(--space-xs);

  vertical-align: top;
}

.track {
  margin-top: var(--space-l);
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin: var(--space-s-neg);
  padding: 0;

  list-style: none;
}

.item {
  width: calc((100% - 91px) / 3);
  height: 780px;

  margin: var(--space-s);
}

@media (--desktop-m) {
  .sectionWrapper {
    margin-bottom: var(--space-e);
  }

  .slide {
    width: 400px;
    height: 544px;
  }

  .item {
    height: 556px;
  }
}

@media (--desktop) {
  .sectionWrapper {
    margin-bottom: var(--space-xb);
  }

  .slide {
    width: 300px;
    height: 408px;
  }
}
