.wrapper {
  composes: main from 'containers';

  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto var(--space-e) auto;
  padding: 0;
}

.card {
  margin-bottom: var(--space-xxl);
}

.card:last-child {
  margin-bottom: 0;
}

@media (--desktop) {
  .wrapper {
    margin: var(--space-xl) auto 0 auto;
  }
}

@media (--mobile-m) {
  .wrapper {
    width: 100%;
    margin-bottom: var(--space-xb);
    padding: 0 var(--space-s);
  }
}

@media (--mobile) {
  .wrapper {
    width: 100%;
    margin-top: 0;
    padding: 0 var(--space-s);
  }
}
