.page {
  --gap: var(--space-e);
}

.pageTitle {
  max-width: 1780px;
  margin: 0 auto;
  padding: var(--space-xl) 0px;

  font-weight: 500;
  font-size: var(--size-xb);
  line-height: var(--lh-xb);
  text-align: center;
}

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
}

.introduction {
  margin-top: var(--space-xxe);
  margin-bottom: var(--space-xxe);

  font-size: var(--size-m);
  line-height: var(--lh-xm);
}

.bannerImage {
  width: 100%;
}

.qualityDepartment {
  margin-top: var(--gap);
}

.garanties {
  margin-top: var(--gap);
}

.contactWithQualityDep {
  margin-top: var(--gap);
}

.exchangeAndRefund {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

@media (--desktop-m) {
  .pageTitle {
    max-width: 1900px;
    margin: 0 var(--space-xxl);

    font-size: var(--size-b);
    line-height: var(--lh-b);
  }

  .wrapper {
    max-width: 1066px;
  }

  .introduction {
    margin-top: var(--space-e);
    margin-bottom: var(--space-e);
  }
}

@media (--desktop) {
  .page {
    --gap: var(--space-xb);
  }

  .pageTitle {
    font-size: var(--size-xxl);
    line-height: var(--lh-xxl);
  }

  .wrapper {
    max-width: none;
    padding: 0 var(--space-xxl);
  }

  .introduction {
    margin-top: var(--space-xb);
    margin-bottom: var(--space-xb);

    font-size: var(--size-n);
    line-height: var(--lh-n);
  }
}

@media (--mobile-m) {
  .pageTitle {
    margin: 0 var(--space-s);
    padding: var(--space-n) 0px;

    font-size: var(--size-xl);
    line-height: var(--lh-xxl);
  }

  .wrapper {
    padding: 0 var(--space-s);
  }

  .introduction {
    font-size: var(--size-s);
    line-height: var(--lh-s);
  }
}

@media (--mobile) {
  .bannerImage {
    min-height: 360px;
  }
}
