@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Thin.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Light.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Regular.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Medium.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Bold.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: CeraPro;
  src: url('./CeraPro-Black.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
