.phone {
  display: inline-flex;
  align-items: center;

  color: var(--color-dark-gray);
  font-size: var(--size-s);
  line-height: var(--lh-s);

  cursor: pointer;

  transition: color 0.2s;

  &:hover {
    color: var(--color-black);

    .number:after {
      width: 100%;
    }

    .arrow {
      background-image: url('arrow-hover.svg');
    }
  }

  &:active {
    .number:after {
      width: 100%;
    }

    .arrow {
      background-image: url('arrow-hover.svg');
    }
  }

  &:focus {
    color: var(--color-dark-gray);
  }

  &.opened {
    .arrow {
      transform: rotate(180deg);
    }
  }

  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: var(--space-xxs);

    background-image: url('arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: all 0.2;
  }

  .number {
    &:after {
      display: block;
      width: 0;
      height: 0;
      margin-top: 2px;

      border-bottom: 1px solid var(--color-black);

      transition: width 0.2s;

      content: '';
    }
  }
}
