.page {
  composes: main from 'containers';
}

.title {
  composes: xb from 'sizes';
  composes: hero from 'fonts';
  font-weight: 500;
  margin: 0;
  padding: var(--space-xl) 0;
  text-align: center;
  border-bottom: 1px solid var(--color-medium-gray);
}
