.items {
  width: 100%;
  overflow: hidden;
}

.containerImages {
  position: relative;
}

.containerImage {
  &.firstImage {
    position: relative;
  }
}

.image {
  padding-bottom: 66.7%;

  background-color: var(--color-light-gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:last-child {
    margin-bottom: 0;
  }
}

.doubleImg {
  display: flex;
}

.doubleImg.verticalView {
  .smallImage {
    padding-bottom: 77.3%;
  }
}

.smallImage {
  width: 100%;
  padding-bottom: 30.3%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.buttonAr {
  position: absolute;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);
}

.openGallery {
  width: 300px;
  margin: 0 auto;
  margin-top: var(--space-l);
}

.btnOpenGallery {
  width: 330px;
}

.tags {
  position: absolute;
  top: var(--space-n);
  right: var(--space-n);
  z-index: 2;
}

@media (--desktop-m) {
  .btnOpenGallery {
    width: 240px;
  }
}

@media (--desktop) {
  .buttonAr {
    bottom: 15px;
    left: 15px;

    transform: none;
  }
}

@media (--mobile-m) {
  .photogallery {
    width: calc(100% + var(--space-s) * 2);
    margin: 0 var(--space-s-neg);
  }

  .containerImage {
    position: relative;

    width: 100%;

    cursor: pointer;
  }

  .image {
    padding-bottom: 65.2%;
  }

  .tags {
    top: var(--space-s);
    right: 15px;
  }

  .openGallery {
    display: none;
  }
}
