.cart {
}

.productsList {
  margin-top: var(--space-xxl);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xb);

  background: var(--color-white);
}

.info {
  composes: n from 'sizes';
}

.productItem {
  box-sizing: border-box;
  width: 250px;
  padding: 0 var(--space-s);
}

.productCount {
  composes: s from 'sizes';

  margin-top: var(--space-m);
}

.pecIcon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 56px;
  height: 23px;
  margin-right: var(--space-s);
}

.deliveryInfo {
  display: flex;
  margin-top: var(--space-xxl);
}

.deliveryText {
  font-size: var(--size-l);
  line-height: var(--lh-l);
}

.button {
  max-width: 420px;
  margin: var(--space-xxl) auto 0;
}

@media (--desktop) {
  .deliveryText {
    font-size: var(--size-m);
    line-height: var(--lh-m);
  }

  .productsList {
    margin-right: var(--space-xxl-neg);
    margin-left: var(--space-xxl-neg);
  }

  .productItem {
    width: 240px;
    padding: 0 var(--space-xs);
  }
}

@media (--mobile-m) {
  .productsList {
    margin-right: var(--space-s-neg);
    margin-left: var(--space-s-neg);
  }

  .button {
    max-width: 330px;
  }
}
