.modalView {
  width: 100%;
  max-width: 1205px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-xxl);

  background: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display: flex;
  margin-top: var(--space-n);
}

.photo {
  width: 500px;
  padding-bottom: 100%;

  background-size: cover;
}

.postInfo {
  display: flex;
  margin-top: var(--space-xxl);
}

.postText {
  color: var(--color-dark-gray);
  font-size: var(--size-xs);
  line-height: var(--lh-xs);
}

.linkToInstagram {
  display: flex;
  align-items: center;
  margin-top: var(--space-xs);

  color: var(--color-black);
  font-size: var(--size-s);
  line-height: 21px;
}

.instagramIcon {
  width: 16px;
  height: 16px;

  background-image: url('./insta.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.authorNikname {
  margin-left: var(--space-xs);
}

.share {
  margin-left: var(--space-xb);
}

.shareIcons {
  margin-top: var(--space-xs);
}

.productsScroller {
  width: 100%;
  height: inherit;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: var(--space-l);
}

.productCard {
  width: calc(50% - var(--space-l) / 2);
  margin-right: var(--space-l);
  margin-bottom: var(--space-l);

  &:nth-child(2n) {
    margin-right: 0;
  }
}

@media (--desktop) {
  .modalView {
    max-width: 782px;
  }

  .container {
    padding: var(--space-l);
  }

  .photo {
    width: 337px;
  }

  .productsWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .productCard {
    width: 100%;
    margin: 0;
    margin-bottom: var(--space-n);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (--mobile-m) {
  .modalView {
    max-width: 738px;
  }
}

@media (--mobile) {
  .modalView {
    width: 100%;
    max-width: unset;
    height: 100%;
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .header {
    padding: var(--space-n) var(--space-s);
  }

  .content {
    flex-direction: column;
    height: 100%;
    margin-top: 0;
  }

  .photo {
    width: 100%;
  }

  .wrapperGallery {
    margin-top: var(--space-l);
    padding: 0 var(--space-s);
  }

  .gallery {
    width: 100%;
    margin: 0 var(--space-s-neg);
  }

  .item {
    width: 210px;
    padding: 0 var(--space-s);

    vertical-align: bottom;
  }

  .productCard {
    width: 100%;
    margin: 0;
  }

  .progressBar {
    margin-top: var(--space-l);
  }

  .postInfo {
    flex-direction: column;
    padding: 0 var(--space-s) var(--space-l);
  }

  .share {
    margin-top: var(--space-n);
    margin-left: 0;
  }
}
