.popularLinks {
  margin-bottom: var(--space-xxs-neg);
}

.label {
  margin-right: var(--space-n);

  white-space: nowrap;
}

.link {
  display: inline-block;
  margin-right: var(--space-m);
  margin-bottom: var(--space-xxs);

  &:last-child {
    margin-right: 0;
  }
}
