.wrapper {
  display: inline-flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 var(--space-s);
}

.galleryWrapper {
  position: relative;

  overflow: hidden;
}

.gallery {
  position: relative;
}

.titleWrapper {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 606px;
  padding: var(--space-xb) 170px;

  @media (--desktop-m) {
    padding: var(--space-xxl) 150px;
  }

  @media (--desktop) {
    max-width: 340px;
    padding: var(--space-l) 110px;
  }

  @media (--mobile-m) {
    max-width: 260px;
    padding: var(--space-n) var(--space-xb);
  }

  @media (--mobile) {
    padding: var(--space-s) var(--space-l);
  }
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
}

.slide {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 850px;

  @media (--desktop-m) {
    min-height: 605px;
  }

  @media (--desktop) {
    min-height: 453px;
  }

  @media (--mobile-m) {
    min-height: 417px;
  }

  @media (--mobile) {
    min-height: 560px;
  }
}

.date {
  margin: 0 0 var(--space-b);

  color: var(--color-black);
  font-size: var(--size-l);
  line-height: var(--lh-l);

  @media (--desktop) {
    margin-bottom: var(--space-m);

    font-size: var(--size-n);
    line-height: var(--lh-n);
  }

  @media (--mobile-m) {
    margin-bottom: var(--space-xs);

    font-size: var(--size-s);
    line-height: var(--lh-s);
  }
}

.header {
  margin: 0 0 var(--space-n);

  color: var(--color-black);
  font-weight: 500;
  font-size: 60px;
  font-family: var(--font-hero);
  line-height: 79px;

  @media (--desktop-m) {
    font-size: var(--size-xb);
    line-height: 58px;
  }

  @media (--desktop) {
    font-size: var(--size-xxl);
    line-height: 40px;
  }

  @media (--mobile-m) {
    font-size: var(--size-xl);
    line-height: 150%;
  }

  @media (--mobile) {
    font-size: var(--size-l);
    line-height: 120%;
  }
}

.subtitle {
  margin: 0 0 var(--space-xxl);

  font-size: var(--size-b);
  line-height: var(--lh-b);

  @media (--desktop-m) {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }

  @media (--desktop) {
    margin-bottom: var(--space-n);

    font-size: var(--size-n);
    line-height: var(--lh-n);
  }

  @media (--mobile) {
    font-size: var(--size-s);
    line-height: var(--lh-s);
  }
}

.footer {
  margin-top: auto;
}

.text {
  margin: 0 0 var(--space-xxs);

  font-size: var(--size-n);
  line-height: var(--lh-n);

  @media (--desktop-m) {
    font-size: var(--size-s);
    line-height: var(--lh-s);
  }

  @media (--mobile) {
    margin: 0 0 var(--space-xs);
  }
}

.arrowWrapper {
  padding: 0 var(--space-xxl);

  @media (--mobile-m) {
    display: none;
  }
}
