.section {
  composes: main from 'containers';

  overflow: hidden;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headMain {
  display: flex;
}

.headAdditional {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.title {
  composes: xxl from 'sizes';

  margin: 0;

  font-weight: 500;
}

.rating {
  margin-left: var(--space-xxl);
}

.wrapperGallery {
  margin-top: var(--space-xxl);
}

.gallery {
  margin-top: var(--space-xxl);
  overflow: hidden;
}

.galleryViewport {
  margin: 0 var(--space-xs-neg);
}

.progressBar {
  margin-top: var(--space-xxl);
}

.item {
  width: 28.142%;
  min-width: 300px;
  padding: 0 var(--space-xs);
}

.photo {
  width: 100%;
  padding-bottom: 73.333%;
}

.wrapperButton {
  display: flex;
  justify-content: center;
  margin-top: var(--space-xxl);
}

.button {
  max-width: 330px;
}

@media (--desktop-m) {
  .title {
    font-size: var(--size-xxl);
  }
}

@media (--desktop) {
  .title {
    font-size: var(--size-xl);
  }

  .gallery {
    margin: var(--space-xxl) var(--space-xs-neg) var(--space-xxl);
    overflow: visible;
  }

  .galleryViewport {
    margin: 0;
    overflow: visible;
  }
}

@media (--mobile-m) {
  .title {
    font-size: var(--size-l);
  }
}

@media (--mobile) {
  .section.hasArrows {
    .head {
      display: flex;
      align-items: flex-start;
    }

    .headMain {
      display: block;
    }

    .headAdditional {
      justify-content: flex-end;
      margin-top: 0;
    }
  }

  .head,
  .headMain {
    display: block;
  }

  .headAdditional {
    justify-content: center;
    margin-top: var(--space-xxl);
  }

  .title {
    font-size: var(--size-l);
  }

  .rating {
    margin-top: var(--space-n);
    margin-left: 0;
  }

  .button {
    max-width: 185px;
  }
}
