.section {
  border-top: 1px solid var(--color-white);

  &:first-child {
    border-top: none;
  }
}

.mainContainer {
  composes: wide from 'containers';
}

.contentContainer {
  composes: narrow from 'containers';

  &.row {
    margin-top: var(--space-e);
  }
}

.heading {
  font-weight: 500;
  font-size: var(--size-xxl);
  line-height: var(--lh-xxl);
}

.title {
  margin-bottom: var(--space-xl);
}

@media (--desktop) {
  .page {
    padding-bottom: var(--space-n);
  }
}

@media (--mobile-m) {
  .heading {
    font-size: var(--size-l);
    line-height: var(--lh-l);
  }
}
