.list {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  margin: 0;
  padding: 0;

  list-style: none;

  @media (--mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  display: flex;
  box-sizing: border-box;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  width: 100%;

  color: var(--color-black);
  text-decoration: none;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px;
  padding: 20px;

  line-height: 0;

  background: var(--color-light-gray);
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.name {
  margin: 0 0 5px;

  color: var(--color-black);
  font-size: var(--size-s);
  line-height: 150%;
  text-decoration: none;

  .link:hover & {
    font-weight: 500;
  }
}

.price {
  margin: 0;

  color: var(--color-black);
  font-size: var(--size-m);
  line-height: 23px;
}
