.page {
}

.mainContainer {
  composes: main from 'containers';
}

.wrapperMain {
  margin-bottom: var(--space-e);
}

.description {
  margin-top: var(--space-xxl);
}

@media (--mobile-m) {
  .wrapperMain {
    margin-bottom: var(--space-xb);
  }
}
