.page {
  --sidebar-width: 23.7%;
}

.wrapperMain {
  composes: main from 'containers';

  display: grid;
  grid-gap: var(--space-xe);
  grid-template-columns: 1fr var(--sidebar-width);
  margin-bottom: var(--space-e);
}

.sidebar {
  position: relative;
}

.shortName {
  composes: xb from 'sizes';

  font-family: var(--font-hero);
}

.fullName {
  composes: s from 'sizes';
}

.like {
  position: absolute;
  top: var(--space-n);
  right: 0;
}

.wrapperPrice {
  margin-top: var(--space-l);
}

.labelPrice {
  composes: s from 'sizes';
}

.containerPrices {
  display: flex;
  align-items: center;
}

.actualPrice {
  composes: xl from 'sizes';

  font-weight: 500;
}

.expiredPrice {
  margin-left: var(--space-s);
}

.discount {
  margin-left: var(--space-s);
}

.bonuses {
  margin-top: var(--space-xs);
}

.priceReduction {
  margin-top: var(--space-s);
}

.wrapperFabrics {
  margin-top: var(--space-xxl);
}

.orderFabrics {
  margin-top: var(--space-s);
}

.actions {
  margin-top: var(--space-xxl);
}

.action {
  margin-bottom: var(--space-s);

  &:last-child {
    margin-bottom: 0;
  }
}

.linksList {
  margin-top: var(--space-xxl);
}

.icon {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-size: contain;
}
.icon.perzent {
  background-image: url('./icons/perzent.svg');
}

.icon.attention {
  background-image: url('./icons/attention.svg');
}

@media (--desktop-m) {
  .page {
    --sidebar-width: 25.66%;
  }

  .wrapperMain {
    grid-gap: var(--space-xb);
  }
}

@media (--desktop) {
  .page {
    --sidebar-width: 31.78%;
  }
}

@media (--mobile-m) {
  .page {
    --sidebar-width: 100%;
  }

  .wrapperMain {
    display: block;
    margin-bottom: var(--space-xb);
  }

  .sidebar {
    max-width: 486px;
    margin: var(--space-n) auto 0;
  }
}
