.page {
}

.mainContainer {
  composes: main from 'containers';
}

.wrapperMain {
  margin-bottom: var(--space-e);
}

.cylindo {
  margin-bottom: var(--space-xxl);
  padding: var(--space-n);
  padding-bottom: var(--space-xxl);

  border: 1px solid var(--color-medium-gray);
}

.description {
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapperAdditional {
}

.separator {
  composes: main from 'containers';

  margin-top: var(--space-xxe);

  &:before {
    display: block;

    border-top: 1px solid var(--color-medium-gray);

    content: '';
  }
}

.littleContainer {
  max-width: 1146px;
  margin: 0 auto;
}

.sectionInstagram {
  margin-top: var(--space-xxe);
}

.instagramDescription {
  composes: m from 'sizes';

  width: 100%;
  max-width: 875px;
}

.sectionCrossSale {
  padding-top: var(--space-xxl);
}

.sectionReviews {
  margin-top: var(--space-e);
}

.sectionSimilar,
.sectionHistory {
  margin-top: var(--space-xxe);
}

.layers {
  padding: 50px 0;
}

.productItem {
  width: 28.405vw;
  min-width: 300px;
  max-width: 422px;
  padding: 0 var(--space-xs);
}

.nanoProductItem {
  width: 13.836vw;
  min-width: 140px;
  max-width: 189px;
  padding: 0 var(--space-xs);

  vertical-align: bottom;
}

.listReviews {
  composes: main from 'containers';

  margin-top: var(--space-b);
}

.characteristics {
  margin-top: var(--space-xxe);
}

@media (--desktop-m) {
  .separator {
    margin-top: var(--space-e);
  }

  .sectionSimilar,
  .sectionHistory {
    margin-top: var(--space-e);
  }
}

@media (--desktop) {
  .cylindo {
    padding: var(--space-xs);
    padding-bottom: var(--space-n);
  }

  .separator {
    margin-top: var(--space-xb);
  }

  .sectionSimilar,
  .sectionHistory {
    margin-top: var(--space-xb);
  }

  .sectionReviews {
    margin-top: var(--space-xb);
  }
}

@media (--mobile-m) {
  .wrapperMain {
    margin-bottom: var(--space-xb);
  }

  .characteristics {
    margin-right: var(--space-s-neg);
    margin-left: var(--space-s-neg);
  }
}
