.catalog {
  --columns: 4;
  --gap-h: var(--space-l);
  --gap-v: var(--space-xxb);
  composes: main from 'containers';
}

.list {
  display: grid;
  grid-gap: var(--gap-v) var(--gap-h);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.item {
  min-width: 0;
}

.item.landscape {
  &:before {
    display: block;
    padding-top: 32%;

    content: '';
  }
}

.moreWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--space-b);
}

.moreButton {
  width: 100%;
  max-width: 260px;
}

@media (--desktop-m) {
  .catalog {
    --columns: 3;
    --gap-v: var(--space-b);
  }
}

@media (--desktop) {
  .catalog {
    --gap-h: var(--space-n);
  }
}

@media (--mobile-m) {
  .catalog {
    --columns: 2;
    padding-right: 0;
    padding-left: 0;
  }

  .moreButton {
    max-width: 220px;
  }
}
