.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  white-space: nowrap;
}

.anchorsItem {
  margin-top: var(--space-m);
  margin-right: var(--space-xxl);
}

.link {
  color: var(--color-dark-gray);
  font-size: var(--size-l);
  line-height: var(--size-xl);
}

.link.active {
  padding-bottom: var(--space-xxs);

  color: var(--color-black);

  border-bottom: 1px solid var(--color-black);
}

@media (--desktop-m) {
  .link {
    font-size: var(--size-m);
    line-height: var(--lh-m);
  }
}

@media (--mobile-m) {
  .link {
    font-size: var(--size-n);
    line-height: var(--lh-n);
  }
}

@media (--mobile) {
  .wrapper {
    justify-content: flex-start;
  }

  .anchorsItem:first-child .link {
    padding-left: var(--space-s);
  }

  .link {
    font-size: var(--size-m);
    line-height: var(--lh-m);
  }
}
