/* Это стили для таблиц, которые мы вставляем как есть */
.DeliveryTable table {
  width: 100%;

  font-size: var(--size-s);
  line-height: 1.5;

  border: 1px solid var(--color-dark-gray);
  border-collapse: collapse;
  border-spacing: 0;
}

.DeliveryTable thead {
  color: var(--color-dark-gray);
}

.SingleRow thead {
  color: var(--color-black);
}

.DeliveryTable td {
  border: 1px solid var(--color-dark-gray);
}

.DeliveryTable td.UnionCell {
  display: none;
}

@media (--mobile) {
  .DeliveryTable table {
    border: none;
  }

  .DeliveryTable thead {
    display: none;
  }

  .DeliveryTable tr {
    display: block;
    margin-bottom: var(--space-m);

    border-bottom: 1px solid var(--color-dark-gray);
  }

  .DeliveryTable tr:last-child {
    margin-bottom: 0;
  }

  .DeliveryTable td {
    display: block;
    width: auto;
    padding: var(--space-xs);

    border: 1px solid var(--color-dark-gray);
    border-bottom: 0;
  }

  .DeliveryTable td:before {
    display: block;
    margin-bottom: var(--space-s);

    content: attr(data-label);
  }

  .DeliveryTable .ProductName:before,
  .SingleRow td:before {
    display: none;
  }

  .DeliveryTable td:after {
    display: table;
    clear: both;

    content: '';
  }

  .DeliveryTable td.UnionCell {
    display: block;
  }

  .DeliveryTable td.ProductName {
    background-color: var(--color-dark-gray);
  }
}

@media (--desktop-only) {
  .DeliveryTable td {
    box-sizing: border-box;
    width: 20%;
    height: 104px;
    padding: var(--space-xs) var(--space-s);

    vertical-align: middle;
  }

  .SingleRow td {
    width: 60%;
    height: 104px;
  }

  .SingleRow thead td,
  .DeliveryTable .ServiceType {
    height: 60px;
  }

  .SingleRow .ProductName,
  .DeliveryTable .ProductName {
    width: 40%;
  }

  .SingleRow thead {
    display: none;
  }
}

@media (min-width: 1280px) {
  .SingleRow thead {
    display: table-header-group;
  }

  .SingleRow .ProductName {
    display: none;
  }
}
