.wrapper {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-m) var(--space-xxl) var(--space-xb);

  @media (--mobile) {
    padding: var(--space-m) var(--space-s) var(--space-xb);
  }
}

.item {
  display: block;
  margin-bottom: var(--space-s);
}

.submenu {
  display: none;
}
